<% content_for :head do %>
    <title>Mapprr | Blog</title>
    <meta name="description" content="By reading the articles of Mapprr you get more information and search the products availability in your nearby stores with a single tap.">
    <meta name="keywords" content="blogs, popular blogs, blog sites, blog post, blog websites, best blogs">
<% end %>
<div class="container-fluid" style="background-color: #fafafa;">
        <div class="container text-right">
            <div class="upper-links">
            <span class="p_user_login" id="user_login"></span>
            <ul class="p_user_dropdown dropdown-menu">
              <li id="profile" class="profile-li"><a class="profile-links" id="profile_link" href="/my-profile?query=">Profile Info</a></li>
              <li id="fav" class="profile-li"><a class="profile-links" id="fav_link" href="/favourites-list?query=">Favourites</a></li>
              <li id="logout" class="profile-li"><a class="profile-links" href="">Logout</a></li>
            </ul>
        </div>
        </div>
    </div>
 <nav class="navbar navbar-light productnav" role="navigation">
<div class="container" style="margin:18px auto;padding-left: 0px;padding-right: 0px;">
        <div class="navbar-left col-sm-6 col-md-3 col-xs-5 logo"> <a href="/"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/footer.svg", :class => "img-responsive nav_logo", :alt => "Mapprr") %></a></div>

      <div class="col-sm-6 col-md-3 col-xs-7 col-sx-push-0 col-md-push-6 loc_m text-right" style="margin-top: 15px;">
        <div style="width:100%;">
        <a class="p-location" data-toggle="dropdown"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/location_pin2.png", :alt => "Location icon", :width=> "13px") %> <span id="geolocation">Choose your location</span></a>

          <ul class="dropdown-menu c_loc" role="menu" style="border: 0;border-radius: 0;margin: 0;padding: 15px 7px;position: absolute;top: 100%;right: 0;left:auto;">
              <li class="dropdown-header" style="color: #263238;  ">Select Location</li>
              <li id="profile" class="profile-li" style="padding:7px 12px;">
                <form id="mform" method="post" action="javascript:;" data-toggle="validator" role="form">

                  <div class="input-group" style="border:1px solid #bdbdbd;">
                    <input id="m_loc" type="text" class="f-control" placeholder="Type your location..." style="border:0px; min-width: 250px" />
                    <span class="input-group-btn" style="border-left: 1px solid #bdbdbd;padding:1px;">
                    <button class="btn btn-secondary" id="detect_loc" type="button" style="background-color: #fff;"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/location_pin2.png", :alt => "Location icon", :width=> "13px") %></button>
                    </span>
                  </div>
                </form>
              </li>
          </ul>
        </div>
      </div>
  <!--     <div class="three"> -->
        <div class="col-sm-12 col-md-6 col-xs-12 col-sx-pull-0 col-md-pull-3 search_f " style="margin-top: 7px;">
            <form action="<%= products_path() %>" method="POST" id="p_form" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
          <meta itemprop="target" content="https://mapprr.com/products?product={search_query}"/>
            <div class="input-group searchbox-input2">
                <input type="text" id="search_query" name="search_query" itemprop="query-input" class="form-control searchtxt2" placeholder="What are you looking for?" autocomplete="off" required="true">
                <div class="input-group-btn">
                  <button class="btn btn-default searchbtn2" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
            </div>
        </form>
            </div>
   <!--  </div> -->
   <!--  <div class="two"> -->
        
<!--     </div> -->

</div>
    </nav>
	<div class="container" style="margin-bottom: 30px;">
    <div class="row">
      <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="/"><span itemprop="name">Home</span></a><meta itemprop="position" content="1" /></li>
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="/blogs"><span itemprop="name">Blogs</span></a><meta itemprop="position" content="2" /></li>
        </ol>
    </div>
        <div class="row">
                <div class="col-md-12"><h2 class="text-center">Blogs</h2></div>
        </div>
	   <% @blogs.each do |blog| %>
			<div class="col-md-6 blog-grid">
                <div class="blog blog-inverse blog-info">
                    <%= image_tag blog['cover_image'], :class => 'img-responsive blog-img' %>
                    <div class="blog-block">
                        <h3 class="blog-title"><a href="/blogs/<%= blog['title'].parameterize %>"><%= blog['title'] %></a></h3>
                        <div class="blog-text content-flow">
                            <%= raw blog['content'] %>
                        </div>
                    </div>
                    <div class="blog-footer">
                        <span class="time"><%= time_ago_in_words(blog['created_at']) %> ago</span>
                        <span><a href="/blogs/<%= blog['title'].parameterize %>" class="float-right ">Read More...</a></span>
                    </div>
                </div>
            </div>
	   <% end %>
	</div>

     <div id="snackbar"></div>



<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
    <script async src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript">
      var blocation = window.localStorage.getItem("slocation");
      if (blocation == null)
    {
    
        detectLocation();
    }
    else
    {
        $("#geolocation").html(blocation);

    }
   

    //location icon click then auto dectect location
    $("#detect_loc").click(function(){
                detectLocation();
            $("#m_loc").val(blocation);
          });

    </script> 
<script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZUpobR20JfD78lRFdkVU2VV1joDsBVjA&libraries=places&callback=initAutocomplete">
    </script>
