<!DOCTYPE html>
<html>
<head>
	<title>Blogs</title>
</head>
<body class="b_bg">
	<nav class="navbar navbar-light productnav" role="navigation">
		<div class="container" style="margin:18px auto;">
			<div class="navbar-left col-sm-6 col-md-3">
				<a href="/"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/footer.svg", :class => "img-responsive nav_logo", :alt => "Mapprr") %></a>
			</div>
		</div>
	</nav>
	<div class="panel panel-default col-md-8 col-md-offset-2">
		<div class="panel-body">
		<h3 class="text-center">Write a Blog</h3>
			<form action="<%= blogs_post_to_blog_path %>" method="POST" class="create_blog" enctype="multipart/form-data">
				<div class="form-group">
    				<label for="blog[title]">Title of your Blog</label>
					<input type="text" autofocus="autofocus" name="blog[title]" class="form-blog" placeholder="Blog Title" required="true">
				</div>
				<div class="form-group">
					<label for="blog[cover_image]">Cover Image for your Blog</label>
					<input type="file" name="blog[cover_image]" class="form-blog">
				</div>
				<div class="form-group">
					<label for="blog[content]">Content of your Blog</label>
					<textarea rows="4" type="text" autofocus="autofocus" name="blog[content]" class="form-blog ckeditor" placeholder="Content" required="true"></textarea>
				</div>
				<div class="form-group">
    				<label for="blog[description]">Description of your Blog</label>
					<input type="text" autofocus="autofocus" name="blog[description]" class="form-blog" placeholder="Blog Description">
				</div>
				<div class="form-group">
    				<label for="blog[keywords]">Keywords of your Blog</label>
					<input type="text" autofocus="autofocus" name="blog[keywords]" class="form-blog" placeholder="Blog keywords">
				</div>
                <button class="btn btn-success pull-right blog-btn" type="submit">Post</button>
			</form>
		</div>
	</div>
</body>
</html>