<!DOCTYPE html>
<html>
<head>
	<title>Contact Form</title>
	<style type="text/css">
		body{
			font-family: Verdana, Geneva, sans-serif;
		}
		p{
			padding: 0px 0px 0px 10px;
			font-size: 16px;
		}
		.footer-text{
			font-size: 13px;
		}
	</style>
</head>
<body>
	<div class="full-bg" style="width:100%; height: 550px; background-color: #f0f0f0;">
		<div class="container" style="position: relative; top: 100px; width: 450px; margin: 0px auto; background-color: #fff;">
			<center><img src="https://s3.ap-south-1.amazonaws.com/mapprr/mapprr-logo2.png" style="padding: 20px;"></center>
			<h3 class="center" style="padding: 20px; font-color: #383838;">Thank You - MAPPRR</h3>
			<p>Hello <%= @name %>,</p>
			<p>We are glad that you contacted us. Our team is looking into your query and we will get back to you at the earliest.</p><p style="padding-bottom: 40px;">Meanwhile continue searching for more products in Mapprr.</p>
		</div>
		<center style="width: 450px; position: relative; margin: auto;">
			<div style="position: relative; top: 80px;">
				<a href="https://www.facebook.com/mapprr/" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png"></a>
				<a href="https://plus.google.com/u/0/b/108876416825518969151/108876416825518969151" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-linkedin-48.png"></a>
				<a href="https://www.linkedin.com/company/mapprr" taget="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-googleplus-48.png"></a>
			</div>
			<br>
			<hr style="position: relative; top: 50px;">
			<p class="footer-text" style="position: relative; top: 40px;">Copyright &copy; All rights reserved, Bharathi Tech Services 2017<br><br>
			<b>Our mailing address is:<br></b>
			hello@mapprr.com, careers@mapprr.com</p>
		</center>
	</div>
</body>
</html>