

<!-- Modal -->
<div class="modal fade" id="exampleModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header2">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="directions" style="height:600px;"></div>
      </div>
    </div>
  </div>
</div>
<!--End Model-->
<script>

  var hyd = {lat: 17.433, lng: 78.399};
  var latlong = window.localStorage.getItem("latlng"); 
      function initMap() {
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var directionsService = new google.maps.DirectionsService;
        var map = new google.maps.Map(document.getElementById('directions'), {
          zoom: 14,
          center: hyd
        });
        directionsDisplay.setMap(map);

        calculateAndDisplayRoute(directionsService, directionsDisplay);
      }
      var lngi = document.getElementById("lng").innerHTML;
      var lati = document.getElementById("lat").innerHTML;;
      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        var selectedMode = 'DRIVING';
        directionsService.route({
          origin: {lat: 17.433, lng: 78.399},  // Haight.
          destination: {lat: 17.43515000, lng: 78.41709000},  // Ocean Beach.
          // Note that Javascript allows us to access the constant
          // using square brackets and a string value as its
          // "property."
          travelMode: google.maps.TravelMode[selectedMode]
        }, function(response, status) {
          if (status == 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }

    </script>