<% content_for :head do %>
    <title>Mapprr | My favourite stores list</title>
    <meta name="description" content="If you’re visiting the same store often which is near your location then adding to your favourites list makes the product easy to access.">
    <meta name="keywords" content="mapprr, mapper, pharmacy near me, medical near me, medical store near me, shops near me, medicine app, 24 hr pharmacy near me">
<% end %>
<body class="s_bg">
		<div class="container-fluid" style="background-color: #fdfdfd;">
		<div class="container text-right">
			<div class="dropdown">
			<a class="p_user_login dropdown-toggle" id="user_login" data-toggle="dropdown">Hi <span id="user_name"></span> <span class='caret'></span></a>
            <ul class="p_user_dropdown dropdown-menu">
              <li id="profile"><a id="profile_link" href="/my-profile?query=">Profile Info</a></li>
              <li id="logout"><a href="#">Logout</a></li>
            </ul>
        </div>
		</div>
	</div>
<nav class="navbar navbar-light productnav" role="navigation">
<div class="container" style="margin:18px auto;">
  <div class="col-xs-6 col-sm-6 col-md-6">
	  	<div class="navbar-left"> <a href="/"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/footer.svg", :class => "img-responsive nav_logo", :alt => "Mapprr") %>  </a></div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6">
	    <div class="text-right" style="margin-top: 20px;">
	    	<a href="/" class="empty_state">Back to search</a>
	    </div>
    </div>
</div>
	</nav>

<div class="container" style="min-height: 50vh;">
	<!-- store list grid -->
		<% if not @favourite_stores.present? %>
			<div class="col-md-12 text-center" style="height:100vh;">
				<%= image_tag( "https://s3.ap-south-1.amazonaws.com/mapprr/empty_bookmarks.png", :class => "card-img-top", :height => "52%", :alt => "Store image") %>
				<h4 class="empty_state">Your favourite list is empty.</h4>
			</div>
		<% elsif @favourite_stores == "404" %>
			<div class="col-md-12 text-center" style="height:100vh;">
				<%= image_tag( "https://s3.ap-south-1.amazonaws.com/mapprr/empty_bookmarks.png", :class => "card-img-top", :height => "52%", :alt => "Store image") %>
				<h4 class="empty_state">Favourtes depend on each individual. Please login and check your list.</h4>
			</div>
		<% else %>
		<div class="col-md-12 store-grid">
		<% @favourite_stores.each do |s| %>
	
	<!-- products row 1-->
		
			<div class="col-xs-12 col-sm-6 col-md-6" style="padding:5px;">
				<div class="store-card row">
				<div class="col-md-4 col-sm-12 col-xs-12 storeimg">
						
					<% if s['image_url'].present? %>
						  <%= image_tag( "#{s['image_url']}", :class => "card-img-top img-responsive", :alt => "Store image") %>
						<% else %>
						  <%= image_tag(('https://s3.ap-south-1.amazonaws.com/mapprr/default2.png'), :class => "card-img-top img-responsive", :alt => "Store image" ) %>
						<% end %>
				</div>
				<div class="col-md-8 col-sm-12 col-xs-12">
					  <div class="card-block">
					    <div class="row">
					    	<h4 class="store-title"><span class="titleonly"><%= s['name'] %></span> <span class="pull-right" style="color:#66BB6A;font-size:12px;line-height:16px;"> <%= s['distance'][0] %></span></h4>

					    </div>
					    <div class="row">
					    <p class="store-address"><%= s['address'] %></p>
						</div>
						<div class="actions row">
					    <div style="margin:10px auto;"><span style="margin:auto 15px auto 0px; width:28px;"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/clock.png", :alt => "Location icon", :width=> "18px") %></span><span class="store-title-sub"> 7AM - 11PM</span></div>

					    <div class="store-location" style="margin-top:15px;">
					    	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center" style="border-right: 1px solid #ccc;"><a class="btn" style="padding:7px 9px;width: 100%;" data-toggle="modal" data-target="#phone_<%= s['id'] %>">
  							<%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/call2.svg", :alt => "Location icon", :height=> "21px;") %></a>
  							</div>
	  						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center" style="border-right: 1px solid #ccc;"><a class="btn" target="_blank" style="padding:7px 9px;">
	  							
	  							<i id ="<%= s['id'] %>" class="fa fa-heart fa-lg bookmark" aria-hidden="true" style="font-size: 21px;"></i>
	  						</a>

	  						</div>
	  						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center store-location" style=""><a class="btn map_direction" style="padding:7px 9px; width: 100%;" href='<%= "http://maps.google.com/maps?daddr=#{ s['location']['lat']}, #{s['location']['lng']}" %>' id="item_<%= s['id'] %>" target="_blank">
	  							<%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/map_marker.svg", :alt => "Location icon", :height=> "21px;") %></a>
	  						</div>

					    </div>


						<!-- Modal -->
						  <div class="modal fade" id="phone_<%= s['id'] %>" role="dialog">
						    <div class="modal-dialog model-sm" style="max-width: 400px;margin: 60px auto;">
						      <div class="modal-content">
						        <div class="modal-header" style="padding: 15px;">
						          <button type="button" class="close" data-dismiss="modal">&times;</button>
						          <h4 class="modal-title"><%= s['name'] %></h4>
						          <p class="store-address" style="max-width: 300px; color:#ffffff;"><%= s['address'] %></p>
						        </div>
						        <div class="modal-body" style="padding: 25px;">
						          <p style="font-size: 16px;letter-spacing: 1px;text-align: center;">Call to <%= s['phone'] %></p>
						        </div>
						      </div>
						    </div>
						  </div>
					    
					    </div>


 
					  </div>	
				</div>
		</div>	
	</div>
	<!--end list-->
	
	
	<% end %>
	</div>
	<% end %>
	<!-- filter end -->
</div>

 <div id="snackbar"></div>

<script>
$(document).ready(function(){
	var latlong = window.localStorage.getItem("latlng");
	var user = window.localStorage.getItem("user");
	var name = window.localStorage.getItem("name");
  $("#user_name").html(name);

if (user !=null)
{
	$(document).ready();
}
else
{
	 window.location.href="/";
}



	//map directions
$(".map_direction").click(function(){
	$(this).attr('href', $(this).attr('href') +'&saddr='+latlong);
});

	$("#logout").click(function(){
	  window.localStorage.clear();
	  window.location.href="/";
	});
//bookmark

	$('i.fa-heart').click(function(){
	    $(this).toggleClass('fa-heart fa-heart-o')
	    var setbookmark = user + "," + this.id;
	    var reqData ={};
	    reqData.query = setbookmark;
	    $.ajax({
	    	type:'POST',
	    	url: '<%= remove_favourite_path() %>',
	    	data:reqData,
	    	success:function()
	    	{
	    		window.location.reload(true);
	    		var x = $("#snackbar")
			      x.addClass("show")
			        .html("Removed from your favourite list");
			      setTimeout(function() {
			         x.removeClass("show");
			     }, 3000);
	    		
	    	}
	    });
	});




	var plocation = window.localStorage.getItem("slocation");
	    $("#geolocation").html(plocation);
	//profile


});


</script>
<script async defer
		    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcP9FK8X5VZyQuzOaoNpVcY_zwCQJ7C_A">
		    </script>
<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
<script async src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</body>