<% content_for :head do %>
    <title>Mapprr | Select a nearest store to call or locate on map</title>
    <meta name="description" content="Mapprr provides you the list of nearest stores for any product with its contact details. You can locate the store on our inbuilt map interface. Now locating a store is easy and hassle-free.">
    <meta name="keywords" content="nearest store, stores near me, stores around me, stores, medical store near me, store locator, store open near me">

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" />
<% end %>
<script type="text/javascript">
	//no internet
if (navigator.onLine) {
  // document.body.innerHTML = 'online';
  document.onload;
} else {
  document.body.innerHTML ='<div class="container error_network"><div class="col-md-12 text-center empty-state"><%= image_tag( "https://s3.ap-south-1.amazonaws.com/mapprr/empty_state3.png", :class => "card-img-top", :height => "52%", :alt => "Network Error") %><h3 class="text-center">Whoops...!</h3><h4 class="empty_state">Slow or no internet connection found.</h4></div></div>';
  // document.getElementByClassName(error_network).style.display = 'block';
}
</script>
<script>
  fbq('track', 'CompleteRegistration');
</script>

<div class="s_bg" style="background-color: #fafafa;">
	<div class="container-fluid" style="background-color: #fdfdfd;">
		<div class="container text-right">
			<div class="upper-links">
			<!-- <a class="p_user_login dropdown-toggle" id="user_login" data-toggle="dropdown"></a> -->
				<span class="p_user_login" id="user_login"></span>
	            <ul class="p_user_dropdown dropdown-menu">
	              <li id="profile" class="profile-li"><a class="profile-links" id="profile_link" href="/my-profile?query=">Profile Info</a></li>
	              <li id="fav" class="profile-li"><a class="profile-links" id="fav_link" href="/favourites-list?query=">Favourites</a></li>
	              <li id="logout" class="profile-li"><a class="profile-links" href="#">Logout</a></li>
	            </ul>
        	</div>
		</div>
	</div>
 	
 	<nav class="navbar navbar-light productnav" role="navigation">
		<div class="container" style="margin:18px auto;">
	  		<div class="navbar-left col-sm-6 col-md-3 col-xs-5"><a href="/"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/footer.svg", :class => "img-responsive nav_logo", :alt => "Mapprr") %></a></div>
		  	<div class="col-sm-6 col-md-3 col-xs-7 col-sx-push-0 col-md-push-6 loc_m text-right" style="margin-top: 10px;">
		    	<a class="p-location"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/location_pin2.png", :alt => "Location icon", :width=> "14px") %> <span id="geolocation"></span></a>
		    </div>
		  	<div class="col-sm-12 col-md-6 col-xs-12 col-sx-pull-0 col-md-pull-3 search_f">
		  		<form action="<%= products_path() %>" method="POST" id="p_form">
			  		<div class="input-group searchbox-input2">
					    <input type="text" id="search_query" name="search_query" class="form-control searchtxt2" placeholder="What are you looking for?" autocomplete="off" required="true">
					    <div class="input-group-btn">
					      <button class="btn btn-default searchbtn2" type="submit">
					        <i class="glyphicon glyphicon-search"></i>
					      </button>
					    </div>
					</div>
				</form>
			</div>
	    </div>
	</nav>
<div class="container-fluid" style="background-color: #ffffff;padding-bottom: 20px;">
	<div class="container">
		<div class="row">
			<ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
			    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="/"><span itemprop="name">Home</span></a><meta itemprop="position" content="1" /></li>
			    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="/products?product=<%= @stores_data['product_name'] %>"><span itemprop="name"><%= @stores_data['product_name'] %></span></a><meta itemprop="position" content="2" /></li>
			    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href=""><span itemprop="name">Stores</span></a><meta itemprop="position" content="3" /></li>
		    </ol>
		</div>
		<div class="row">
			<!-- store list grid -->
			<% if not @stores.present? %>
				<div class="col-md-12 text-center empty-state">
					<%= image_tag( "https://s3.ap-south-1.amazonaws.com/mapprr/empty_state.png", :class => "card-img-top", :height => "52%", :alt => "Store image") %>
					<h4 class="empty_state">Product not available at your nearest store</h4>
				</div>
			<% elsif @stores == "404" %>
				<div class="col-md-12 text-center empty-state">
					<%= image_tag( "https://s3.ap-south-1.amazonaws.com/mapprr/empty_state.png", :class => "card-img-top", :height => "52%", :alt => "Store image") %>
					<h4 class="empty_state">Stores can't be listed, Please search for a specific product and we'll show it's availability at your locality</h4>
				</div>			
			<% else %>
				<div class="col-xs-12 col-sm-12 col-md-6 store-grid">
				<% @stores.each do |s| %>
				<!-- products row 1-->
					<div class="col-xs-12 col-sm-6 col-md-12" style="padding:0px 5px;">
						<div class="store-card row">
							<div class="col-md-4 col-sm-12 col-xs-12 storeimg">
								<% if s['image_url'].present? %>
									<%= image_tag( "#{s['image_url']}", :class => "card-img-top img-responsive", :alt => "Store image") %>
								<% else %>
									<%= image_tag(('https://s3.ap-south-1.amazonaws.com/mapprr/default2.png'), :class => "card-img-top img-responsive", :alt => "Store image" ) %>
								<% end %>
							</div>
							<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
								<div class="card-block">
								<!--  -->
									<div class="row">
							    		<h4 class="store-title"><span class="titleonly"><%= s['name'] %></span> <span class="pull-right" style="color:#66BB6A;font-size:12px;line-height:16px;"><%= s['distance'][0] %></span></h4>
								    </div>
								    <div class="row">
									    <p class="store-address"><%= s['address'] %></p>
									</div>
									<div class="actions row">
									    <div style="margin:10px auto;"><span style="margin:auto 15px auto 0px; width:28px;"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/clock.png", :alt => "Location icon", :width=> "18px") %></span><span class="store-title-sub"> 7AM - 11PM</span></div>
							    
							    		<div class="store-location" style="margin-top:1px;">
							    			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center" style="border-right: 1px solid #ccc;"><a class="btn call_btn" style="padding:7px 9px;width: 100%;box-shadow: none;" data-target="#phone_<%= s['id'] %>">
		  										<%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/call2.svg", :alt => "Location icon", :height=> "21px;") %></a>
		  									</div>
			  						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center" style="border-right: 1px solid #ccc;"><a class="btn" target="_blank" style="padding:7px 9px;width: 100%;box-shadow: none;">
			  					
			  							<% if s['is_bookmarked'] == true %>
											<i id ="<%= s['id'] %>" class="fa fa-heart fa-lg bookmark" aria-hidden="true" style="font-size: 21px;"></i>
										<% else %>
											<i id ="<%= s['id'] %>" class="fa fa-heart-o fa-lg bookmark" aria-hidden="true" style="color: #ef5350;font-size: 21px;"></i>	
										<% end %>
			  						</a>

			  						</div>
			  								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center store-location" style=""><a class="btn map_direction" style="padding:7px 9px; width: 100%;box-shadow: none;" href='<%= "http://maps.google.com/maps?daddr=#{ s['location']['lat']}, #{s['location']['lng']}" %>' id="item_<%= s['id'] %>" target="_blank">
			  									<%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/map_marker.svg", :alt => "Location icon", :height=> "21px;") %></a>
			  								</div>

							    		</div>


<!-- Modal -->
										<div class="modal fade" id="phone_<%= s['id'] %>" role="dialog">
											<div class="modal-dialog model-sm" style="max-width: 400px;margin: 60px auto;">
											  <div class="modal-content">
											    <div class="modal-header" style="padding: 15px;">
											      <button type="button" class="close" data-dismiss="modal">&times;</button>
											      <h4 class="modal-title"><%= s['name'] %></h4>
											      <p class="store-address" style="max-width: 300px; color:#ffffff;"><%= s['address'] %></p>
											    </div>
											    <div class="modal-body" style="padding: 25px;">
											      <p style="font-size: 16px;letter-spacing: 1px;text-align: center;">Call to <%= s['phone'] %></p>
											    </div>
											  </div>
											</div>
										</div>
									</div>
					  			</div>	
							</div>
						</div>
					</div>
	<!--end list-->

	<!--map-->
	<!--end-->
				<% end %>
			</div>

			<div class="hidden-xs hidden-sm col-sm-6 col-md-6 store-grid mapview" >
				<div class="store-card" id="mapview" style="height:100vh;"></div>
			</div>

		<% end %>
	</div>	
</div>
</div>
<div class="container-fluid" style="background-color: #ffffff; margin-top:20px;">
<div class="container">
	<div class="row">
		<% if @similar_products.present? %>
    <div style="border-bottom: 1px solid #f7f7f7;border-radius: 0px;background-color: #ffffff;">
      <div class="container">
        <h3 style="margin-bottom: 15px; font-size: 21px;">People also search for</h3>
      </div>
    </div>
    <div style="padding-bottom:25px;padding-top:25px;border: 0px;border-radius: 0px;background-color: #ffffff;">   
    <div class="container"> 
        <div class="owl-carousel">
        <% @similar_products.first(10).each do |product| %>

                   <div class="relatedCard" id="<%= product['id'] %>" >
                      <div class="rCard">
                        <div class="text-center">
                            <div class="rShow_div">
                             <!--  <%= image_tag product['image_url'] || 'noProduct.png', :class => 'card-img-top'%> -->
                             <% if product['image_url'].present? %>
                              <%= image_tag product['image_url'], :class => 'card-img-top imageIn'%>
                          <% else %>
                          <% @similar_product_sample_image = ['noProduct2','noProduct2.3','noProduct'].sample + '.png' %>
                              <%= image_tag @similar_product_sample_image, :class => 'card-img-top noImage'%>
                          <% end %>
                            </div>
                            
                        </div>  
                        <div class="pcard-block">
                          <h4 class="pcard-title" ><%= product['name'] %></h4>
                          <p class="pcard-text"><%= product['brand'] %></p>
                        </div>
                      </div>
                    </div>
        <% end %>
      </div>
    </div>
      </div>
    <% end %>
	</div>

	<!-- filter end -->

<div id="snackbar"></div>

</div>
</div>
<script type="text/javascript">
$(document).ready(function() {

$(".relatedCard").click(function(e){
    var latlong = window.sessionStorage.getItem("latlng");
    var pincode = window.sessionStorage.getItem("pincode");
    var user_id = window.localStorage.getItem("user");

    if(latlong == null)
    {
      // alert("Select your location");
      var x = $("#location_error")
        x.addClass("show")
          .html('Your location could not be determined.');
        setTimeout(function() {
           x.removeClass("show");
       }, 7000);
}
    else
    {
    var id = this.id;
    window.localStorage.setItem("id", id );
    var search_query2 = $("#" + id+ " .pcard-title").text();
    window.localStorage.setItem("search_query2", search_query2 );
    if (user_id == null){
      window.location.href = "/stores?query=," + id + "," + latlong + ",5," + pincode;
   }
    else{
      
      window.location.href = "/stores?query=" + user_id + "," + id + "," + latlong + ",5," + pincode;
     }

  }
  });

/******Carousel*****/
	$('.owl-carousel').owlCarousel({
    loop:true,
    margin: 0,
    navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
    dots: false,
    responsiveClass:true,
    responsive:{
        0: {
            items: 1,
            nav: false,
        },
        320: {
            items: 2,
            nav: true,
        },
        700: {
            items: 4,
            nav: true,
        },
        920: {
            items: 4,
            nav: true,
            margin: 0,
        },
        1000:{
            items:6,
            nav:true,
            loop:false
        }
    }
});
/***** end********/

var pincode = window.sessionStorage.getItem("pincode");
var id = window.localStorage.getItem("id");
  $("#logout").click(function() {
    var x = $("#snackbar")
      x.addClass("show")
        .html("Successfully logout");
      setTimeout(function() {
         x.removeClass("show");
     }, 3000);

       window.localStorage.removeItem('user');
       window.localStorage.removeItem('name');
       window.localStorage.removeItem('activation_status');
       window.localStorage.removeItem('search_query');
       window.localStorage.removeItem('search_query2');
       window.location.href = "/stores?query=," + id + "," + latlong + ",5," + pincode;
   })
  
  var latlong = window.sessionStorage.getItem("latlng");
       var user = window.localStorage.getItem("user");
       var name = window.localStorage.getItem("name");
       var activation_status = window.localStorage.getItem("activation_status");

	//debugger
	var name = window.localStorage.getItem("name");
  $("#user_name").html(name);
	var user = window.localStorage.getItem("user");

	if (user !=null)
{
	$(document).ready();
	//user name
      if(name == null || name == "" || name == "null")
        {
          $("#user_login").html("Hi user  <span class='caret'></span>")
           .parent().addClass("dropdown");
        }
        else{
           $("#user_login").html("Hi "+name+"  <span class='caret'></span>")
           .parent().addClass("dropdown");
        }
}
// else
// {
// 	 window.location.href="/";
// }
$(".product-link").click(function(e){
	var search = window.localStorage.getItem("search_query");
	if (search == null){
	var search = $("#search_query").val();
	}
	e.preventDefault();
	window.location.href = "/products?product="+search;
})

var query = window.localStorage.getItem("search_query");
var p_query = window.localStorage.getItem("search_query2");
    $("#search_query").val(p_query);
    //auto suggestions       
   $("#search_query").keyup(function query() {
       var search = $("#search_query").val();
       
       if (user == null) {
           search += ",," + latlong;
       } else {
           search += "," + user + "," + latlong;
       }

       var reqData = {};
       reqData.product = search;
       var $a = $.ajax({
           type: 'POST',
           url: '<%= suggested_list_path() %>',
           data: reqData
       });

       $a.then(function(data, textStatus, jqXHR) {
           var search_suggestions = JSON.parse(jqXHR.responseText).suggestions;
           $("#search_query").autocomplete({
               source: search_suggestions
           });
       }, function(jqXHR, textStatus, errorThrown) {
           alert(JSON.parse(jqXHR.responseText).message);
       });
   });

   $("form#p_form").submit(function(e) {
      gtag_report_conversion();
       var search = $("#search_query").val();
       window.localStorage.setItem("search_query", search);
       e.preventDefault();
       window.location.href = "/products?product="+search;
   });

   if (user != null) {

   	var fname = window.localStorage.getItem("name");
    $("#user_login").html("<span class='user_name'>Hi "+fname+"</span> <span class='caret'></span>")
           .parent().addClass("dropdown");
//bookmark
   	$('i.fa-heart').click(function(){
	    $(this).toggleClass('fa-heart fa-heart-o')
	    var setbookmark = user + "," + this.id;
	    var reqData ={};
	    reqData.query = setbookmark;
	    $.ajax({
	    	type:'POST',
	    	url: '<%= remove_favourite_path() %>',
	    	data:reqData,
	    	success:function()
	    	{
	    		var x = $("#snackbar")
			      x.addClass("show")
			        .html("Removed from your favourite list");
			      setTimeout(function() {
			         x.removeClass("show");
			     }, 3000);
			      window.location.reload(true);
	    	}
	    });
	});

	$('i.fa-heart-o').click(function(){
	    $(this).toggleClass('fa-heart-o fa-heart')
	    var setbookmark = user + "," + this.id;
	    var reqData ={};
	    reqData.query = setbookmark;
	    $.ajax({
	    	type:'POST',
	    	url: '<%= set_favourite_path() %>',
	    	data:reqData,
	    	success:function()
	    	{
	    		var x = $("#snackbar")
			      x.addClass("show")
			        .html("Added to your favourite list");
			      setTimeout(function() {
			         x.removeClass("show");
			     }, 3000);
			      window.location.reload(true);
	    	}
	    });
	});
//call
$('.call_btn').click(function(){
	$('.call_btn').attr('data-toggle', 'modal');
});
//map directions
$(".map_direction").click(function(){
	$(this).attr('href', $(this).attr('href') +'&saddr='+latlong);
});

    var activation_status = window.localStorage.getItem("activation_status");
        if(activation_status == true || activation_status == 'true')
        {
          $("#user_login").html("<span class='user_name'>Hi "+fname+"</span>  <span class='caret'></span>")
           .parent().addClass("dropdown");

        }
        else{
           $("#user_login").html("<a style='color:#263238;' href='/login'> Login / Register</a>");

        }
        
          $('#fav_link').click(function(){
              var latlong = window.sessionStorage.getItem("latlng");
             $('#fav_link').attr('href', $('#fav_link').attr('href') + user +"&latlng="+ latlong);
          });
         
   } else {
       $("#user_login").html("<a style='color:#263238;' href='/login'> Login / Register</a>");

       $('i.fa-heart-o , .call_btn, .map_direction').click(function(){
       		window.location.href="/login"
       });
   }
});
   </script>



<script>
	var latlong = window.sessionStorage.getItem("latlng");

$(".product-link").click(function(e){
	var search = $("#search_query").val();
	e.preventDefault();
	window.location.href = "/products?product="+search;
})

	


	var plocation = window.sessionStorage.getItem("slocation");
	    $("#geolocation").html(plocation);
//favourites
	$("#fav").click(function(){
	  $('#fav_link').attr('href', $('#fav_link').attr('href') + user+ "&latlng="+ latlong);

	});


</script>
  <script>
  	// map View
  	var latlong = window.sessionStorage.getItem("latlng");
  	var positions =latlong.split(",");
  	var latitude = parseFloat(positions[0]);
  	var longitude = parseFloat(positions[1]);
  	//debugger
  	<% if not @stores == "404" %>
    function initMap(){
      // Map options
      var options = {
        zoom:12,
        center:{lat:latitude,lng:longitude}
      }

      // New map
      var map = new google.maps.Map(document.getElementById('mapview'), options);
      // Array of markers
      var markers = [
      <% @stores.each do |s| %>
        {
          coords:{lat:<%= s['location']['lat'] %>,lng:<%= s['location']['lng'] %>},
          iconImage:'https://s3.ap-south-1.amazonaws.com/mapprr/marker.png',
          content:'<%= s["name"] %>'
        },
       <% end %>
      ];

      // Loop through markers
      for(var i = 0;i < markers.length;i++){
        // Add marker
        addMarker(markers[i]);
      }

      // Add Marker Function
      function addMarker(props){
        var marker = new google.maps.Marker({
          position:props.coords,
          map:map,
          //icon:props.iconImage
        });

        // Check for customicon
        if(props.iconImage){
          // Set icon image
          marker.setIcon(props.iconImage);
        }

        // Check content
        if(props.content){
          var infoWindow = new google.maps.InfoWindow({
            content:props.content
          });

          marker.addListener('click', function(){
            infoWindow.open(map, marker);
          });
        }
      }
    }
    <% end %>
  </script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZUpobR20JfD78lRFdkVU2VV1joDsBVjA&callback=initMap">
    </script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
<script async src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>