<% content_for :head do %>
    <title>Mapprr | Sign into Mapprr account / Creating Mapprr account</title>
    <meta name="description" content="Sign up with Mapprr to track your search history and get an instant access to your favourite stores with just one click. You are a step away from the customized experience.">
    <meta name="keywords" content="mapprr, mapper, pharmacy near me, medical near me, medical store near me, shops near me, medicine app, 24 hr pharmacy near me">
<% end %>
  <style>
    /* Set gray background color and 100% height */
    .profile-tab-menu {
      background-color: #fff;
      border: 1px solid #f6f6f6;
      height: 100%;
    }
  </style>
<body class="pro_bg">

		<div class="container-fluid" style="background-color: #fdfdfd;">
    <div class="container text-right">
      <div class="dropdown">
      <a class="p_user_login dropdown-toggle" id="user_login" data-toggle="dropdown"></a>
            <ul class="p_user_dropdown dropdown-menu">
              <li id="fav" class="profile-li"><a class="profile-links" id="fav_link" href="/favourites-list?query=">Favourites</a></li>
              <li id="logout" class="profile-li"><a class="profile-links" href="#">Logout</a></li>
            </ul>
        </div>
    </div>
  </div>
 <nav class="navbar navbar-light productnav" role="navigation">
<div class="container" style="margin:18px auto;">
  <div class="col-xs-6 col-sm-6 col-md-6">
	  	<div class="navbar-left"> <a href="/"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/footer.svg", :class => "img-responsive nav_logo", :alt => "Mapprr") %>  </a></div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6">
	    <div class="text-right" style="margin-top: 20px;">
	    	<a href="/" class="empty_state">Back to search</a>
	    </div>
    </div>
</div>
	</nav>

 <div class="container">

	<div class="row content">
        <div class="profile-tab-container container-fluid">
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12 profile-tab-menu">
              <div class="list-group">
                <a href="#" class="profile-tab list-group-item active text-center">
                  Personal Info
                </a>
                <a href="#" class="profile-tab list-group-item text-center">
                  Recent Searches
                </a>
                <a href="#" class="profile-tab list-group-item text-center">
                  Send Feedback
                </a>
                <a href="#" class="profile-tab list-group-item text-center">
                 Terms & Conditions
                </a>
                <a href="#" class="profile-tab list-group-item text-center">
                 Privacy Policy
                </a>
              </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 bhoechie-tab">
                <!-- flight section -->
                <div class="profile-tab-content active">
                 <form method="post" action="javascript:;" data-toggle="validator" role="form">
                  <i class="fa fa-pencil-square-o fa-2x pull-right" id="name_edit" style="color:#757575;cursor: pointer;"></i>
	             <div class="col-3 form-group">
				        	<label style="margin:0px;font-size: 12px;color:#757575;">Full Name</label>
				        	<input type="text" class="profile-text" minlength="3" maxlength="30" style="background-color: transparent; border:0px; border-bottom: 1px solid #ccc; padding: 4px;margin:0px;letter-spacing:1.5px;color:#757575;" id="full_name" value="<%= @name %>" readonly="true" title="Enter name" required>
                  <p id="error" class="text-center" style="padding:5px 0px;font-size:10px;color:red;visibility: hidden;">Minimum at least 3 characters</p>
				        </div>

                <div class="col-3 input-effect">
                  <label for="dob" style="margin:0px;font-size: 12px;color:#757575;">Date of Birth</label>
                  <input type="text" class="profile-text dob" style="background-color: transparent; border:0px; border-bottom: 1px solid #ccc; padding: 4px;margin:0px;letter-spacing:1.5px;color:#757575; cursor: pointer;" id="dob" value="<%= @dob %>" disabled="true" required="">
                </div>

				        <div class="col-3 input-effect">
				        	<label style="margin:0px;font-size: 12px; color:#757575;">Mobile Number</label>
				        	<input type="text" placeholder="" class="profile-text" style="background-color: transparent; border:0px; border-bottom: 1px solid #ccc; padding: 4px;margin:0px;letter-spacing:1.5px;color:#757575;" id="mobile_num" value="<%= @mobile %>" disabled="true">
				        </div>

                <div class="col-3 text-center">
                      <div class="gender-selection">
                        <input id="male" type="radio" name="gender" value="true" disabled="true" />
                        <label class="darker male" for="male"></label>
                        <input id="female" type="radio" name="gender" value="false" disabled="true" />
                        <label class="darker female" for="female"></label>
                    </div>
                </div>

				        <div class="col-3 input-effect">
                  <div style="width: 200px; margin:auto;">
                    <a id="submit_info" type="submit" class="btn mapprr-btn" style="font-size: 12px;display: none;">SAVE CHANGES</a>
                </div>
				        </div>
                    </form>

                </div>
<!-- Recent searches -->
                <div class="profile-tab-content">

                  <% if not @recent_products.present? %>
                      <div class="col-md-12 text-center empty-state">
                        <%= image_tag( "no_results.png", :class => "card-img-top", :height => "52%", :alt => "no results image") %>
                        <h4 class="empty_state">Start searching for medicines in your nearby stores.</h4>
                        <div style="width: 200px; margin:20px auto;">
                        <a href="/" class="btn mapprr-btn" style="font-size: 12px;">START SEARCHING</a>
                      </div>
                      </div>
                  <% else %>
                    <% @recent_products.each do |rp| %>
                  <div id="<%= rp['id'] %>" class="storelocation" style="cursor:pointer;">

                    <div class="col-xs-12 col-sm-6 col-md-4 productcard" style="padding-top: 9px;padding-bottom: 9px;">
                      <div class="card" style="">
                        <div class="text-center">
                        <!-- <div style="height:150px;"><p class="first_char"><%= rp['name'].first %></p></div> -->
                          <% if rp['image_url'].present? %>
                            <div class="first_char_div" style="">
                              <%= image_tag( "#{rp['image_url']}", :class => "card-img-top product_img", :alt => "Product image") %>
                            </div>
                          <% else %>
                            <div class="first_char_div" style=""><p class="first_char"><%= rp['name'].first.capitalize %></p></div>
                          <% end %>
                            
                        </div>  
                        <div class="pcard-block">
                          <h4 class="pcard-title"><%= rp['name'] %></h4>
                          <p class="pcard-text"><%= rp['brand'] %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>      


                <% end %>
                </div>
    
                <!-- Feedback -->
                <div class="profile-tab-content">
                    <div class="col-3 input-effect">
                  <label style="margin-bottom:10px;font-size: 12px; color:#757575;">Message</label>
                  <textarea placeholder="" rows="4" maxlength="150" id="feedback" style="background-color: transparent; border:0px; border: 1px solid #ccc; padding: 7px;margin:0px;"></textarea>
                </div>
                <div class="col-3 input-effect">
                  <div style="width: 200px; margin:auto;">
                    <a id="feedback_submit" type="submit" class="btn mapprr-btn" style="font-size: 12px;">SAVE CHANGES</a>
                  </div>
                </div>

                </div>
                <div class="profile-tab-content">
                    
<div class="col-12" id="termsandconditions">
  <h2>Terms and Conditions</h2>
    <p><b>I. INTRODUCTION</b></p>
        <p>
            <ol type="A">
            <li>The User (“User” or “You”) is required to read and accept all the terms and conditions laid down in this Terms and Conditions (“Terms”) and the linked Privacy Policy, before the use of the Website and its content (“Website” or “Site”) made available by Mapprr(hereinafter referred to as “Company” “we” or “our” or “us”).</li>
            <li>We provide the Content to the User subject to the Terms.</li>
            <li>All information accessed or viewed by the User is considered confidential and is for only authorized personal or business purposes.</li>
            <li>These Terms are effective upon acceptance and governs the relationship between the User and the Company (includes its affiliates and subsidiaries, jointly and severally). If the Terms conflict with any other document, the Terms will prevail for the purposes of usage of the Site.</li>
            </ol>
        </p>
        <!--End-->
        <!-- Start-->
        <p><b>II. ACCEPTANCE OF TERMS</b></p>
        <p>
            <ol type="A">
            <li>The Website is the property of the Company and /or its subsidiaries. By browsing, linking, referencing, using or accessing the Website, the User agrees to these Terms, including agreeing to indemnify and hold harmless the Company from all claims of any nature arising from the access and use of these websites by the User. These Terms may be changed at any time at the sole discretion of the Company. These Terms pertain to all Websites of the Company, including websites owned, operated or sponsored by any of the subsidiaries or affiliates of the Company.</li>
            <li>Please read these Terms carefully. These Terms, as modified or amended from time to time, are a binding contract between the Company and the User. If the User visits, uses, or operates the Site (or any future site operated by the Company), the User accepts these Terms. In addition, when the User uses any current or future Content of the Company or visits or uses any of the Content affiliated with the Company, the User will also be subject to the guidelines and conditions applicable to such Service. </li>
            <li>The Site takes no responsibility for the Content that are provided by any third party vendors.</li>
            <li>This document is published in accordance with the provisions of Rule 3 (1) of the Information Technology (Intermediaries guidelines) Rules, 2011 that require publishing the rules and regulations, privacy policy and Terms of Use for access or usage of the Website.</li>
            <li>The information provided on this Website includes, but is not limited to, the services provided by the Company and does not render any advice, certifications, guarantees or warranties on the Content (as defined below) relating to the services, which the Company makes available on this Website.</li>
            <li>The Company reserves the right to make any changes to the Terms and/or our Privacy Policy as may be deemed necessary or desirable without prior notification to the User. If the Company makes changes to the Terms and Privacy Policy and the User continues to use the Site, the User is impliedly agreeing to the revised Terms and Privacy Policy expressed herein.
To read the complete Terms, please see below.</li>
            </ol>
        </p>
         <!--End-->
        <!-- Start-->
        <p><b>1. RIGHTS/RESTRICTIONS RELATING TO SITE CONTENT</b></p>
        <p>
            <ol type="1">
             <li> Limitations on Linking and Framing. The User is free to establish a hypertext link to our Site as long as the link does not state or imply any sponsorship or service by us or by our Site. However, the User may not, without our prior written permission, frame or inline link any of the content of our Site, or incorporate into another website or other service any of our material, content or intellectual property.</li>
             <li>Company’s Right to Use Materials User Submits or Posts. When you submit or post any material via the Site, you grant us, and anyone authorized by us, a royalty-free, perpetual, irrevocable, non-exclusive, unrestricted, worldwide license to use, copy, modify, transmit, sell, exploit, create derivative works from, distribute, and/or publicly perform or display such material, in whole or in part, in any manner or medium (whether now known or hereafter developed), for any purpose that we choose. The foregoing grant includes the right to exploit any proprietary rights in such posting or submission, including, but not limited to, rights under copyright, trademark or patent laws that exist in any relevant jurisdiction. Also, in connection with the exercise of these rights, you grant us, and anyone authorized by us, the right to identify you as the author of any of your postings or submissions by name, email address or screen name, as we deem appropriate. User understands that the technical processing and transmission of the Site, including content submitted by you, may involve transmissions over various networks, and may involve changes to the content to conform and adapt it to technical requirements of connecting networks or devices. User will not receive any compensation of any kind for the use of any materials submitted.</li>
             <li>Limited Right to Use Site Materials. This Site and all the materials available on the Site are the property of the Company and/or affiliates or licensors, and are protected by copyright, trademark, and other intellectual property laws. The Site is provided solely for your personal non-commercial use. You may not use the Site or the materials available on the Site in a manner that constitutes an infringement of our rights or that has not been authorized by us. More specifically, unless explicitly authorized in these Terms or by the owner of the materials, you may not modify, copy, reproduce, republish, upload, post, transmit, translate, sell, create derivative works, exploit, or distribute in any manner or medium (including by email or other electronic means) any material from the Site. You may, however, from time to time, download and/or print one copy of individual pages of the Site for your personal, non-commercial use, provided that you keep intact all copyright and other proprietary notices. For information about requesting permission to reproduce or distribute materials from the Site, please contact us.</li>
            </ol>
        </p>
        <!--End-->
        <!-- Start-->
        <p><b>2. ACCESS TO CERTAIN FEATURES OF THE WEBSITE</b></p>
        <p>
        To access certain features of the Website, we may ask you to provide certain demographic information including your gender, year of birth, pin code, state and country. In addition, if you elect to sign-up for a particular feature of the Site, such as discussion forums, blogs, photo- and video-sharing pages or social networking features, you may also be asked to register with us on the form provided and such registration may require you to provide information such as your name and email address. You agree to provide true, accurate, current and complete information about yourself as prompted by the Site's registration form. If we have reasonable grounds to suspect that such information is untrue, inaccurate, or incomplete, we have the right to suspend or terminate your account and refuse any and all current or future use of the Site (or any portion thereof). Our use of any information you provide to us as part of the registration process is governed by the terms of our Privacy Policy.
        </p>
        <!--End-->
        <!-- Start-->
        <p><b>3. RESPONSIBILITY FOR USER-PROVIDED CONTENT</b></p>
        <p>
            <ol type="1">
             <li>This Site may include a variety of features, such as discussion forums, blogs, photo and video-sharing pages, email services and social networking features that allow feedback to us and allow users to interact with each other on the Site and post content and materials for display on the Site. This Site also may include other features, such as personalized home pages and email services, that allow users to communicate with third parties. By accessing and using any such features, you represent and agree: (i) that you have read and agree to abide by our Rules; (ii) that you are the owner of any material you post or submit, or are making your posting or submission with the express consent of the owner of the material; (iii) that you are making your posting or submission with the express consent of anyone pictured in any material you post or submit, (iv) that you are 18 years of age or older; (v) that the materials will not violate the rights of, or cause injury to, any person or entity; and (vi) that you will indemnify and hold harmless us, our affiliates, and each of our and their respective directors, officers, managers, employees, shareholders, agents, representatives and licensors, from and against any liability of any nature arising out of related to any content or materials displayed on or submitted via the Site by you or by others using your username and password.</li>
             <li>You acknowledge and agree that we may preserve content and materials submitted by you, and may also disclose such content and materials if required to do so by law or if, in our business judgment, such preservation or disclosure is reasonably necessary to: (a) comply with legal process; (b) enforce these Terms; (c) respond to claims that any content or materials submitted by you violate the rights of third parties; or (d) protect the rights, property, or personal safety of our Site, us, our affiliates, our officers, directors, employees, representatives, our licensors, other users, and/or the public.</li>
             <li>Responsibility for what is posted on discussion forums, blogs, photo- and video-sharing pages, and other areas on the Site through which users can supply information or material, or sent via any email services that are made available via the Site, lies with each user – you alone are responsible for the material you post or send. We are not responsible for the speech, content, messages, information or files that you or others may transmit, post or otherwise provide on or through the Site.</li>
             <li>You understand that we have no obligation to monitor any discussion forums, blogs, photo- or video-sharing pages, or other areas of the Site through which users can supply information or material. However, we reserve the right at all times, in our sole discretion, to screen content submitted by users and to edit, move, delete, and/or refuse to accept any content that in our judgment violates these Terms or is otherwise unacceptable or inappropriate, whether for legal or any other reasons.</li>
            </ol>
        </p>
        <!--End-->
        <!-- Start-->
        <p><b>4. MODIFIED TERMS</b></p>
        <p>The Company reserves the right at all times to discontinue or modify any of its Terms and/or the Privacy Policy as may be deemed necessary or desirable without prior notification to the User. Further, if the Company makes any changes to the Terms and Privacy Policy and the User continues to use the Site, the User is impliedly agreeing to the Terms and Privacy Policy expressed therein. Any such changes, deletions or modifications shall be effective immediately upon the Company’s posting thereof. Any use of the Site by the User after such notice shall be deemed to constitute acceptance by the User of such modifications.</p>
        <!--End-->
        <!-- Start-->
        <p><b>5. ​DISCLAIMERS AND WARRANTIES</b></p>
        <p>
            <ol type="1">
             <li>Throughout the Site, we have provided links and pointers to Internet sites maintained by third parties. Our linking to such third-party sites does not imply an endorsement or sponsorship of such sites, or the information, products or services offered on or through the sites. In addition, neither we nor our parent or subsidiary companies nor any of our respective affiliates operate or control in any respect any information, products or services that third parties may provide on or through the Site or on websites linked to by us on the Site.</li>
             <li>THE INFORMATION, PRODUCTS AND SERVICES OFFERED ON OR THROUGH THE WEBSITE AND ANY THIRD-PARTY SITES ARE PROVIDED "AS IS" AND WITHOUT WARRANTIES OF ANY KIND EITHER EXPRESS OR IMPLIED. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. WE DO NOT WARRANT THAT THE SITE OR ANY OF ITS FUNCTIONS WILL BE UNINTERRUPTED OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT ANY PART OF THIS SITE, INCLUDING BULLETIN BOARDS, OR THE SERVERS THAT MAKE IT AVAILABLE, ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. YOU ACKNOWLEDGE THAT ACCESS TO DATA STORED BY YOU OR OTHERS ON THE SERVICE IS NOT GUARANTEED AND THAT WE SHALL NOT BE RESPONSIBLE TO YOU FOR ANY LOSS OF DATA CAUSED BY THE SERVICE OR ITS UNAVAILABILITY.</li>
             <li>WE DO NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE USE OR THE RESULTS OF THE USE OF THE SITE OR MATERIALS ON THIS SITE OR ON THIRD-PARTY SITES IN TERMS OF THEIR CORRECTNESS, ACCURACY, TIMELINESS, RELIABILITY OR OTHERWISE.</li>
             <li>YOU ACKNOWLEDGE THAT THE PROVISIONS OF THIS SECTION ARE A MATERIAL INDUCEMENT AND CONSIDERATION TO US TO GRANT THE LICENSE CONTAINED IN THIS TERMS AND TO PROVIDE YOU WITH ACCESS TO THE SITE AND SERVICES.</li>
             <li>You must provide and are solely responsible for all hardware and/or software necessary to access the Site. You assume the entire cost of and responsibility for any damage to, and all necessary maintenance, repair or correction of, that hardware and/or software.</li>
             <li>You acknowledge that by using the Site, you may incur charges from your wireless carrier, internet service provider or other method of internet or data access, and that payment of any such charges will be your sole responsibility. You agree that your use of the Site will be in accordance with all requirements of your wireless carrier, internet service provider and other method of internet or data access. We do not control network access. Your use of these networks may not be secure and may expose your personal information sent over such networks.</li>
             <li>The Site is provided for informational purposes only, and is not intended for trading or investing purposes, or for commercial use. The Site should not be used in any high risk activities where damage or injury to persons, property, environment, finances or business may result if an error occurs. You expressly assume all risk for such use.</li>
             <li>Your interactions with companies, organizations and/or individuals found on or through our Site, including any purchases, transactions, or other dealings, and any terms, conditions, warranties or representations associated with such dealings, are solely between you and such companies, organizations and/or individuals. You agree that we will not be responsible or liable for any loss or damage of any sort incurred as the result of any such dealings. You also agree that, if there is a dispute between users of this Site, or between a user and any third party, we are under no obligation to become involved, and you agree to release us and our affiliates from any claims, demands and damages of every kind or nature, known or unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way related to such dispute and/or our Site.</li>
            </ol>
        </p>
         <!--End-->
        <!-- Start-->
        <p><b>6. ​LIMITATION OF LIABILITY</b></p>
        <p>UNDER NO CIRCUMSTANCES, INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE, WILL WE OR OUR SUBSIDIARIES, PARENT COMPANIES OR AFFILIATES BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES THAT RESULT FROM THE USE OF, OR THE INABILITY TO USE, THIS SITE, INCLUDING ITS MATERIALS, PRODUCTS, OR SERVICES, OR THIRD-PARTY MATERIALS, PRODUCTS, OR SERVICES MADE AVAILABLE THROUGH THIS SITE, EVEN IF WE ARE ADVISED BEFOREHAND OF THE POSSIBILITY OF SUCH DAMAGES. YOU SPECIFICALLY ACKNOWLEDGE AND AGREE THAT WE ARE NOT LIABLE FOR ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF ANY USER. IF YOU ARE DISSATISFIED WITH THE SITE, OR ANY MATERIALS, PRODUCTS, OR SERVICES ON THE SITE, OR WITH ANY OF THE SITE'S TERMS AND CONDITIONS, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SITE.</p>
        <!--End-->
        <!-- Start-->
        <p><b>7. ​INDEMNIFICATION</b></p>
        <p>You agree to indemnify and hold harmless us, our affiliates, and each of our and their respective directors, officers, managers, employees, shareholders, agents, representatives and licensors, from and against any and all losses, expenses, damages and costs, including reasonable attorneys' fees, that arise out of your use of the Site, violation of these Terms by you or any other person using your account, or your violation of any rights of another. We reserve the right to take over the exclusive defense of any claim for which we are entitled to indemnification under this section. In such event, you agree to provide us with such cooperation as is reasonably requested by us.</p>
        <!--End-->
        <!-- Start-->
        <p><b>8. ​​RESTRICTIONS</b></p>
        <p>
        The User shall not be permitted or allowed to perform the following activities:
            <ol type="1">
             <li>remove any copyright, trademark or other proprietary notices from any portion of the Content;</li>
             <li>reproduce, modify, prepare derivative works based upon, distribute, license, lease, sell, resell, transfer, publicly display, publicly perform, transmit, stream, broadcast or otherwise exploit the Content except as expressly permitted by the Company;</li>
             <li>decompile, reverse engineer or disassemble the Content except as may be permitted by applicable law;</li>
             <li>link to, mirror or frame any portion of the Content;</li>
             <li>cause or launch any programs or scripts for the purpose of scraping, indexing, surveying, or otherwise data mining any portion of the Content or unduly burdening or hindering the operation and/or functionality of any aspect of the Content; or</li>
             <li>attempt to gain unauthorized access to or impair any aspect of the Content or its related systems or networks.</li>
             </ol>
        </p>
         <!--End-->
        <!-- Start-->
        <p><b>9. ​​​INTELLECTUAL PROPERTY RIGHTS</b></p>
        <p>
            <ol type="1">
                 <li>The Company is the sole owner or lawful licensee of all the rights to the website and its content. Website content shall mean its design, layout, text, images, graphics, sound, video etc. The website content embodies trade secrets and intellectual property rights protected under worldwide copyright and other laws. All title, ownership and intellectual property rights in the web site and its content shall remain with the Company, its affiliates or licensor's of the Company's content, as the case may be.</li>
                 <li>All rights, not otherwise claimed under these Terms are hereby reserved. The information contained in this Site is intended, solely to provide general information for the personal use of the User, who accepts full responsibility for its use. The Company does not represent or endorse the accuracy or reliability of any information, or advertisements or Content contained on, distributed through, or linked, downloaded or accessed from any of the Content contained on this Website, or the quality of any products, information or other materials displayed, or obtained by you as a result of an advertisement or any other information or offer in or in connection with the Content.</li>
                 <li>The User shall not upload post or otherwise make available on the Site any material protected by copyright, trademark, patent, proprietary rights or any other intellectual property rights, without the express permission of the owner of the copyright, trademark, proprietary right or other intellectual property rights.</li>
                 <li>​The Company does not have any express burden or responsibility to provide the User with indications, markings or anything else that may aid the User in determining whether the material in question is copyrighted or trademarked.</li>
                 <li>The User shall be solely liable for any damage resulting from any infringement of copyrights, trademarks, proprietary rights or any other harm resulting from such a submission.</li>
                 <li>By submitting material to any public area of the Site, the User warrants that the owner of such material has expressly granted the Company the royalty-free, perpetual, irrevocable, non-exclusive right and license to use, reproduce, modify, adapt, publish, translate and distribute such material (in whole or in part) worldwide and/or to incorporate it in other works in any form, media or technology now known or hereafter developed for the full term of any copyright that may exist in such material.</li>
                 <li>The User hereby grants the Company, the right to edit, copy, publish and distribute any material made available on the Site by the User.</li>
                </ol>
        </p>
        <p><b>10. ​​​TRADEMARK</b></p>
        <p>
            <ol type="1">
                 <li>All related icons and logos are registered trademarks or trademarks or service marks of the Company in various jurisdictions and are protected under applicable copyright, Trademark and other proprietary rights laws. The unauthorized copying, modification, use or publication of these marks is strictly prohibited.</li>
                 <li>The trademarks, logos and service marks ("<b>Marks</b>") displayed on the Site are the property of the Company and other respective persons. The User is prohibited from using any Marks for any purpose including, but not limited to use as metatags on other pages or sites on the World Wide Web without the written permission of the Company or such third party which may own the Marks.</li>
                 <li>​Trademarks that are located within or on the Site or a website otherwise owned or operated in conjunction with the Company shall not be deemed to be in the public domain but rather the exclusive property of the Company, unless such site is under license from the trademark owner thereof, in which case such license is for the exclusive benefit and use of the Company, unless otherwise stated.</li>
                </ol>
        </p>
        <p><b>11. ​​​MISCELLANEOUS</b></p>
        <p>
            <ol type="1">
                 <li>If any of these conditions are deemed invalid, void, or for any reason unenforceable, the parties agree that the court should endeavour to give effect to the parties’ intentions as reflected in the provision, and the unenforceable condition shall be deemed severable and shall not affect the validity and enforceability of any remaining condition.</li>
                 <li>​The Terms and the relationship between the User and the Company will be governed by the laws as applicable in India.</li>
                 <li>​Any disputes will be handled in the competent courts of Hyderabad, Telangana, India.</li>
                 <li>​The failure of the Company to act with respect to a breach by the User or others does not waive its right to act with respect to subsequent or similar breaches.</li>
                 <li>Except as otherwise, expressly provided in these Terms, there shall be no third-party beneficiaries to the same. These Terms constitute the entire agreement between the User and the Company and governs the User’s use of the Site, superseding any prior agreements between the User and the Company with respect to the Site.</li>
                </ol>
        </p>
    </div>
                </div>

                <div class="profile-tab-content">
                      <!--Privacy Policy-->
<div class="col-md-12" id="privacypolicy">
    <h2>Privacy Policy</h2>
        <p><b>1. INTRODUCTION</b></p>
        <p>
        <ol type="A">
            <li>The User ("you" or “User”) are required to read and accept all of the terms and conditions laid down in this Privacy Policy Statement (“Policy”) and the linked Terms and Conditions, before you use the, website and content (“Content”) made available to you by Mapprr (hereinafter referred to as “we” or “our”).</li>
            <li>We are committed to maintaining your privacy. Our privacy policy statement is given below. If we make changes to this Policy, we will notify you by updating this Policy statement on our Website (“Website/Site”). This Policy outlines the manner your data is collected and used by us. You are advised to please read the Policy carefully. By accessing the Content provided by the Site, you agree to the collection and use of your data by us in the manner provided in this Policy.</li>
            <li>The Policy does not apply to the procedures and practices followed by entities that are not managed, owned or controlled by us or to the people that are not engaged, employed or managed by us. Through this document, we wish to make you:
                <ol type="i">
                    <li>Feel at ease while using our Website;</li>
                    <li>Feel confident while sharing information with us;</li>
                    <li>Aware that you may contact us with your questions or concerns about privacy on our Websites;</li>
                    <li>Aware that by using our Websites you are agreeing to the collection of certain data.  </li>
                </ol>
            </li>
            <li>For purposes of this Policy:
                <ol type="i">
                    <li>“<b>Business partners</b>” means all subcontractors, vendors or other entities with which we have a relationship for constant commercial supplies, Content or information;</li>
                    <li>​“<b>Information</b>” shall include data, message, text, images, sound, voice, codes, computer programmes, software and data bases.</li>
                    <li>​“<b>Personal Information</b>” means any information which is capable of identifying you (either directly or indirectly, in combination with other information available or likely to be available with us), such as your name, phone number and email address;</li>
                    <li>​“<b>Privacy Rules</b>” means Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal Data or Information) Rules, 2011 updated from time to time;</li>
                    <li>​“<b>Sensitive Personal Data or Information</b>” shall have the meaning ascribed to such term under the Privacy Rules.</li>
                </ol>
            </li>
        </ol>
        </p>
        <!--End Introduction-->
        <!--Start INFORMATION COLLECTED-->

      <p><b>​2. INFORMATION COLLECTED</b></p>
        <p>
            <ol type="i">
                <li>We collect the details provided by you together with information we learn about you from your use of our Content and your visits to our Website and other websites accessible from them.</li>
                <li>​We may collect additional information in connection with your participation in any promotions or contests offered by us and information you provide when giving us feedback or completing profile forms. We also monitor customer traffic patterns and Website use, which enables us to improve the service we provide. We will collect only such information as is necessary and relevant to us to provide you with the Content available on the Website.</li>
                <li>While you use our Website, we may have automatic access to (receive and collect) certain anonymous information in standard usage logs through our web server, obtained from “cookies” sent to your browser from web server cookies stored on your hard drive, including but not limited to:
                    <ol type="a">
                    <li>Computer-identification information;</li>
                    <li>IP address, assigned to the computer which you use;</li>
                    <li>The domain server through which you access our service;</li>
                    <li>The type of computer you're using;</li>
                    <li>The type of web browser you're using.</li>
                    </ol>
                </li>
                <li>We may also collect the following information about:
                    <ol type="a">
                    <li>The pages you visit/access;</li>
                    <li>The links you click on our website;</li>
                    <li>The number of times you access the page;</li>
                    <li>Things you view, add to bag, add to wish list;</li>
                    <li>Other websites you open simultaneously while browsing on ours.</li>
                    </ol>
                </li>
                <li>We may collect location information (e.g., city and state and/or zip code) that you provide. Certain devices and browsers contain unique identifiers that can be used to identify the geographical location of the device. When you use such a device or browser to access our Site, your device and/or browser may automatically collect and/or transmit your location information.</li>
            </ol>
        </p>
        <!--End INFORMATION COLLECTED-->

        <!--Start-->
        <p><b>​3. ​WHEN / HOW WE COLLECT THE INFORMATION</b></p>
        <p>
            <ol type="i">
            <li>We may collect anonymous traffic information from you when you visit our Website.</li>
            <li>We collect the Personal Information from you when you register with us or you transact as a guest. During registration you are required to give us your contact information (such as name, email address, date of birth, gender, address, pin code, mobile number etc.) Upon registration you may receive communications from us (e.g. emails, newsletters, updates). Even when you transact as a guest we collect identifiable information (such as name, email address, date of birth, gender, billing address, delivery address, pin code, mobile number etc.).</li>
            <li>Any Information including Sensitive Personal Data or Information collected by us from you may be stored and processed in India or any other country in which we or our corporate affiliates, subsidiaries or agents maintain facilities that ensure the same level of data protection that is adhered to by us. You shall be deemed to have consented for transfer of your Information including Sensitive Personal Data or Information outside your country if you provide us your consent for collection and use of your Sensitive Personal Data of Information by us in the manner as specified in this Privacy Statement.</li>
            <li>We assure you that any Sensitive Personal Data or Information provided by you is collected when the collection of such information is necessary and used by us for a lawful purpose connected with our function or activity.</li>
            <li>We shall be permitted to use this information to contact you about the Content you are using on our Website and Content in which you have expressed interest.</li>
            <li>We are the sole owners of your information collected by us at different points on our Website.</li>
            <li>We will collect Personal Information about you only as part of on-line survey, or contest or any combination thereof.</li>
            <li>The Website contains links to other websites. We are not responsible for the privacy practices of such websites which we do not own, manage or control.</li>
            <li>We may at certain times make chat rooms, forums, instant messenger and message boards and other Content available to you. Please understand that any information that is disclosed in these areas becomes public information. We have no control over its use and you should exercise caution when disclosing your personal information to anyone.</li>
            <li>​If you use a bulletin board or chat room on our Websites, you should be aware that any Personal Information you submit there can be read, collected, or used by other users of these forums, and could be used to send you unsolicited messages. We are not responsible for the Personal Information you choose to submit in these forums.</li>
            </ol>
        </p>
         <!--End-->
          <!--Start-->
          <p><b>​4. ​​DISCLOSING PERSONAL INFORMATION</b></p>
        <p>You agree that we may share or disclose your Information including Sensitive Personal Data or Information with corporate affiliates and business partners (a) to carry out transactions you request or to make our business or that of our corporate affiliates more responsive to your needs; (b) if we reasonably consider it necessary to protect ourselves, its customers, or the public; (c) who help us to perform transactions you request or who help us to customize, evaluate, process, analyse, and/or improve our communication or relationship with you. We impose an obligation on our corporate affiliates and business partners who receive your Sensitive Personal Data or Information to keep such information secure in accordance with the Privacy Rules and to not disclose it further to third parties. You shall be deemed to have consented to sharing and disclosure of your Information including Sensitive Personal Data or Information by us with our corporate affiliates and business partners if you give your consent to provide us with your Sensitive Personal Data of Information in the manner as specified in this Policy. We may also disclose any Information provided by you (which may include your Personal Information and Sensitive Personal Data or Information) (a) in connection with law enforcement, fraud prevention, or other legal actions or legal obligations; or (b) if required to do so under applicable law or regulation in your country or by an order under the law for the time being in force; or (c) to government agencies mandated under the law of your country to obtain such information for the purpose of verification of identity, or for prevention, detection, investigation including any real or suspected adverse event in relation to cyber security that violates any applicable security policy. No consent will be required to be obtained by us from you for any of the aforesaid disclosures. In addition, you agree that we may share your Information with business partners that help us carry out transactions you request or that help us to customize, process, evaluate, analyse, and/or improve our communication or relationship with you, and who share our commitment to protecting your Information. Except as described above, we will not disclose your Personal Information including your Sensitive Personal Data or Information to third parties for their own marketing purposes, unless you consent for the same.</p>
        <!--End-->
        <!--Start-->
        <p><b>​5. ​​HOW IS THE INFORMATION USED?</b></p>
        <p>We shall use your contact information to send you Special offers; Changes in the policies or terms of use; or event based communications such as invites, reminders etc. We use your personal information to improve personalized features on our Website; or to preserve social history as governed by existing law or policy. We use anonymous traffic information to recognize your usage privileges to our Website; or track your session and activities so that we can understand better how people use our Website.</p>
        <!--end-->
        <p><b>​6. ​​WHO DO WE SHARE YOUR INFORMATION WITH?</b></p>
        <p>
        <ol type="i">
            <li>We do not share or rent your information with third parties.</li>
            <li>We do not rent, sell or share your Personal Information or Sensitive Personal Information and we will not disclose any of your Personal Information to any other third parties unless:
                <ol type="a">
                    <li>Required by special circumstances such as compliance with subpoenas, court orders, requests/order from legal authorities or law enforcement agencies requiring such disclosure;</li>
                    <li>To help investigate, prevent or take action regarding unlawful and illegal activities, suspected fraud, potential threat to the safety or security of any person, violations of terms of use or to defend against legal claims;</li>
                    <li>We have your permission; or</li>
                    <li>To provide Content requested by you.</li>
                </ol>
            </li>
            <li>We reserve the right to disclose your Personal Information or Sensitive Personal Information and email address information as required by law and when we believe that disclosure is necessary to protect our rights and/or comply with a judicial proceeding, court order, or legal process served on our Website.</li>
            <li>If we do share your information with advertisers it will strictly be on an aggregate basis only.</li>
            <li>The security of your personal information and email address is important to us. When you enter sensitive information (such as credit / debit card number) on our acquiring bank’s system or order forms, they encrypt that information using secure socket layer technology (SSL).</li>
            <li>We follow generally accepted industry standards to protect the personal information and email address submitted to us, both during transmission and once we receive it. No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Therefore, while we strive to use commercially acceptable means to protect your Personal Information and email address, we cannot guarantee its absolute security.</li>
            <li>If you have any questions about security on our Website you can email us at: <a href="mailto:queries@mapprr.com">queries@mapprr.com</a></li>
        </ol>
        </p>
        <!--end-->
        <p><b>​7. ​​​HOW YOU CAN ACCESS YOUR INFORMATION</b></p>
        <p>We want to maintain the Information including Personal Information and Sensitive Personal Data or Information provided by you accurately.</p>
        <p>WE SHALL NOT BE RESPONSIBLE FOR THE AUTHENTICITY OF THE INFORMATION OR SENSITIVE PERSONAL DATA OR INFORMATION SUPPLIED BY YOU AND ALL LIABILITIES IN RESPECT OF THE LOSSES WHICH MAY OCCUR DUE TO SUCH INCORRECT PERSONAL INFORMATION OR SENSITIVE PERSONAL DATA OR INFORMATION WILL BE SOLELY ATTRIBUTABLE TO YOU.</p>
        <!--end-->
        <p><b>8. SELECTING YOUR COMMUNICATION PREFERENCES​</b></p>
        <p>
            <ol type="i">
            <li>​You may choose to receive or not receive marketing communications from us by indicating your preferences through an email at <a href="mailto:feedback@mapprr.com">feedback@mapprr.com</a> for the website. All marketing by us or any third party on behalf of us, will be conducted in accordance with applicable laws of your country.</li>
            <li>Please allow up to 10 business days for your email preferences to become effective.</li>
            <li>​As some promotions, such as direct catalogues, are developed in advance, you may receive marketing communication after receiving your request preference.</li>
            </ol>
        </p>
        <!--end-->
        <p><b>9. ​HOW WE SECURE YOUR INFORMATION</b></p>
        <p>We are committed to protecting the security of your Information including Personal Information and Sensitive Personal Data or Information. We use a variety of security technologies and procedures to help protect your Information, Personal Information and Sensitive Personal Data or Information from unauthorized access, usage and disclosure, such as encryption, passwords, physical security, etc. While we strive to protect such information, we cannot ensure or warrant or guarantee that your Information or private communications you transmit to us will always remain private or confidential, and you do so at your own risk.</p>
        <!--end-->
        <p><b>10. ​COLLECTION AND USE OF CHILDREN'S INFORMATION</b></p>
        <p>We seriously consider the privacy of children. If you are under 18 years of age, please do not submit any Personal Information and Sensitive Personal Data or Information through our websites without the express consent and participation of a parent or guardian. If we become aware that we have inadvertently received personally identifiable information from a user under the age of 18 as part of the Site, we will delete such information from our records.</p>
        <!--end-->
        <p><b>11. CHOICES AVAILABLE REGARDING COLLECTION, USE AND DISTRIBUTION OF INFORMATION</b></p>
        <p>
           <ol type="i">
            <li>​You can accept or decline the cookies. All websites that are customizable require that you accept cookies. You can choose to set your browser to alert you to cookies, or to reject cookies.</li>
            <li>Cookies: A cookie is a small text file that is stored on a user's computer for record-keeping purposes. We use cookies on this Website. We do link the information we store in cookies to any Personal Information you submit while on our Website.</li>
            <li>​We use both session ID cookies and persistent cookies. We use session cookies to make it easier and secure for you to navigate our Website. A session ID cookie expires when you close your browser. A persistent cookie remains on your hard drive for an extended period of time. You can remove persistent cookies by following directions provided in your Internet browsers “help” file.</li>
            <li>We use session cookies to store the secure session and browsing preferences of the user. We set a persistent cookie to store your username and interests so you don't have to enter it more than once. Persistent cookies also enable us to track and target the interests of our users to enhance the experience on our Website.</li>
            <li>​​If you reject cookies, you may still use our website, but your ability to use some areas of our website, will be limited.</li>
            <li>Unless you voluntarily identify yourself (through registration or social sign-up, for example), we will have no way of knowing who you are, even if we assign a cookie to your computer. The only personal information a cookie can contain is information you supply. A cookie cannot read data off your hard drive.</li>
            <li>​Some of our business partners (e.g., advertisers) set cookies while delivering banners on our Website. We have no access to or control over these cookies.</li>
            <li>We do use cookies on point of collection pages of email address but we do not use them in emails.</li>
            <li>​Our web servers automatically collect limited information about your computer's/mobile phone’s connection to the Internet, including your IP address, when you visit or use our Website. (Your IP address is a number that lets computers attached to the Internet know where to send you data such as the web pages you view.) Your IP address does not identify you personally. We use this information to deliver our web pages to you upon request, to tailor our Website to the interests of our customers, to measure traffic within our website and let advertisers know the geographic locations from where our visitors come.</li>
            <li>Our Website may include links to other websites. Such websites are governed by their respective privacy policies, which are beyond our control. Once you leave our servers (you can know where you are by checking the URL in the location bar on your browser), use of any information you provide is governed by the privacy policy of the operator of the website you are visiting. That policy may differ from ours. If you can't find the privacy policy of any of these websites via a link from the website's homepage, you should contact the website directly for more information.</li>
          </ol>
        </p>
        <!--end-->
        <p><b>12. VOLUNTARY DISCLOSURE OF INFORMATION</b></p>
        <p>
           <ol type="i">
           <li>Providing us with Personal Information is entirely voluntary.</li>
           <li>You may change your interests at any time and may opt-in or opt-out of any marketing / promotional / newsletters mailings.</li>
           <li>Upon request, we will remove / block your Personal Information from our database, thereby cancelling your registration. However, your Information may remain stored in archive on our servers even after the deletion or the termination of your account.</li>
           <li>​If we plan to use your Personal Information for any commercial purposes, we will notify you at the time we collect that information and allow you to opt-out of having your information used for those purposes.</li>
           </ol>
        </p>
        <!--end-->
        <p><b>13. SECURITY PROCEDURES TO PROTECT INFORMATION FROM LOSS, MISUSE OR ALTERATION</b></p>
        <p>
           <ol type="i">
           <li>To protect your privacy and security, we will verify your identity, to the best of our abilities, before granting access or making changes to your Personal Information.</li>
           <li>​To protect against the loss, misuse and alteration of the information under our control, we have in place appropriate physical, electronic and managerial procedures. For example, our servers are accessible only to authorized personnel and your information is shared with respective personnel on need to know basis to complete the transaction and to provide the Content requested by you.</li>
           <li>​Although we will endeavour to safeguard the confidentiality of your Personal Information, transmissions made by means of the Internet cannot be made absolutely secure. By using our Websites, you agree that we will have no liability for disclosure of your information due to errors in transmission or unauthorized acts of third parties.</li>
           <li>We follow generally accepted industry standards to protect the Personal Information and email addresses submitted to us, both during transmission and once we receive it. No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Therefore, while we strive to use commercially acceptable means to protect your personal information and email address, we cannot guarantee its absolute security.</li>
           <li>If you have any questions about security on our Website, you can send email us at <a href="mailto:queries@mapprr.com">queries@mapprr.com</a></li>
           <li>All information gathered on the Site is securely stored within a controlled database. The database is stored on servers secured behind a firewall; access to the servers is password-protected and is strictly limited. However, as effective as our security measures are, no security system is impenetrable. We cannot guarantee the security of our database, nor can we guarantee that information you supply will not be intercepted while being transmitted to us over the Internet and, of course, any information you include in a posting to the discussion areas is available to anyone with internet access.</li>
           <li>However, the internet is an ever evolving medium. We may revise our Policy from time to time to incorporate necessary changes. Of course, our use of any information we gather will always be consistent with the policy under which the information was collected, regardless of what the new policy may be.  </li>
           <li>We use third-party advertising companies to serve ads when you visit our website. These companies may use information (not including your name, address, email address or telephone number) about your visits to this and other websites in order to provide advertisements about goods and Content of interest to you.</li>
           </ol>
           </p>
           <!--end-->
        <p><b>14. ​THIRD-PARTY WEBSITES AND CONTENT</b></p>
        <p>
            Be aware that other websites that can be accessed through our website may collect your Information, Personal Information and Sensitive Personal Data or Information. The information practices of those third-party websites are not covered by this Privacy Statement. We will not be responsible for any breach of your privacy or any other loss arising to you as a result of collection of you Information, Personal Information and Sensitive Personal Data or Information by such websites.
Please be aware that, in providing Content on our behalf, our business partners may collect information about you to provide Content on behalf of us.
        </p>
        <!--end-->
        <p><b>15. ​POLICY UPDATES</b></p>
        <p>
            <ol type="i">
           <li>​We reserve the right to change or update this Policy at any time by placing a prominent notice on our website. Such changes shall be effective immediately upon posting to this website.</li>
           <li>​If we make changes to this Privacy Statement or we make any material changes to the way we will use your Information including Personal Information and Sensitive Personal Data or Information, we will review the Privacy Statement to reflect such changes and also the effective date of the declaration, included at the end of this section. We reserve the right to modify this privacy statement at any time, so please review it frequently. If we make material changes to this policy, we will notify you on our homepage.</li>
           <li>If we decide to make changes in our email practices, we will post those changes to this privacy policy, the homepage, and other places we deem appropriate so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it.</li>
           <li>​We encourage you to periodically review this Privacy Statement to stay informed about how we are protecting your Information including Personal Information and Sensitive Personal Data or Information.  </li>
           </ol>
        </p>
        <!--end-->
        <p><b>16. ​CONTACT INFORMATION</b></p>
        <p>If you have any questions about this Site or our privacy policies, visit <a href="http://www.mapprr.com/">www.mapprr.com</a></p>

</div>

                      <!--// Privacy Policy-->

                </div>

            </div>
        </div>
  </div>


  <div id="snackbar"></div>
</div> 

<script type="text/javascript">
  function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

<script>
$(document).ready(function() {
 // var gender;
 // var status = <%= @gender %>;

 //recent searches
 $(".storelocation").click(function(e){
    var latlong = window.sessionStorage.getItem("latlng");
    var pincode = window.sessionStorage.getItem("pincode");
    var user_id = window.localStorage.getItem("user");

    if(latlong == null)
    {
      alert("Select your location");
      //$(".dropdown-menu").show();
      //$(".loc_m").on();
      // $(".p-location").attr("aria-expanded", "true");
    }
    else
    {
    var id = this.id;
    window.localStorage.setItem("id", id );
    var search_query2 = $("#" + id+ " .pcard-title").text();
    window.localStorage.setItem("search_query2", search_query2 );
    if (user == null){
      window.location.href = "/stores?query=," + id + "," + latlong + ",5," + pincode;
   }
    else{
      
      window.location.href = "/stores?query=" + user_id + "," + id + "," + latlong + ",5," + pincode;
     }

  }
  });

 
 if(<%= @gender %> == true )
 {
  $('input#male').prop('checked', true);
 }
 else
 {
  $('input#female').prop('checked', true);
 }

  var latlong = window.sessionStorage.getItem("latlng");
  var user = window.localStorage.getItem("user");
  var name = window.localStorage.getItem("name");
  $("#user_name").html(name);
  if (user !=null)
  {
    $("div.profile-tab-menu>div.list-group>a").click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.bhoechie-tab>div.profile-tab-content").removeClass("active");
        $("div.bhoechie-tab>div.profile-tab-content").eq(index).addClass("active");
    });
    //user name
      if(name == null || name == "" || name == "null")
        {
           $("div.loginForm").hide();
           $("div#dob_form").show();
          $("#dob_submit").submit(function() {
            $(".loading").show();
               var name = $("#name").val();
               var user = window.localStorage.getItem("user");
               // console.log(user);
               var gender = $("input[name='gender']:checked").val();
               // console.log(gender);
               var dob = $("#birth").val();
               var query = user + ","+name+","+gender+","+dob;
               var reqData = {};
               reqData.query = query;
               var $a = $.ajax({
                   type: 'POST',
                   url: '<%= set_profile_path() %>',
                   data: reqData
               });

               $a.then(function(data, textStatus, jqXHR) {
                   $(".loading").hide();
                   window.localStorage.setItem("name", name);
                   $("#user_login").html("Hi "+name+"  <span class='caret'></span>")
           .parent().addClass("dropdown");
                  // debugger
                   $("div#dob_form").hide();
                   $("#login-model").modal('hide');
                   window.location.reload(true);
               }, function(jqXHR, textStatus, errorThrown) {
                   alert(JSON.parse(jqXHR.responseText).message);
               });
               
           });

        }
        else{
           $("#user_login").html("Hi "+name+"  <span class='caret'></span>")
           .parent().addClass("dropdown");
        }
// logout
  	$("#logout").click(function(){
  	  window.localStorage.removeItem('user');
      window.localStorage.removeItem('activation_status');
      window.localStorage.removeItem('search_query');
  	  window.location.href="/";
  	});


  //info data
  $("#name_edit").click(function(){
    $("#full_name").attr("readonly", false);
    $("#full_name").css("color", "#263238");
    $("#dob").prop("disabled", false);
    $("#mobile_num").prop("disabled", false);
    $("#male").prop("disabled", false);
    $("#female").prop("disabled", false);
    $("#submit_info").css("display", "block");
  });
//dob select

  $("#submit_info").click(function(){
    var fname = $("#full_name").val();
    var dob = $("#dob").val();
    var gender = $("input[name='gender']:checked").val();

    if ($.trim(fname).length <= 2)
    {
      $("#error").css("visibility", "visible");
    }
    else
    {
      var query = user + ","+fname+","+gender+","+dob;
    reqData = {};
    reqData.query = query;
   $.ajax({
      type: 'POST',
      url: '<%= set_profile_path() %>',
      data: reqData,
      success: function()
      {
        $("#submit_info").css("display", "none");
        $("#dob").prop("disabled", true);
        $("#mobile_num").prop("disabled", true);
        $("#male").prop("disabled", true);
        $("#female").prop("disabled", true);
        $("#full_name").attr("readonly", true);
        $("#error").css("visibility", "hidden");

        var x = $("#snackbar")
        x.addClass("show")
          .html("Changes saved");
        setTimeout(function() {
           x.removeClass("show");
       }, 3000);
        window.localStorage.setItem("name", fname);
      }
    });
    $a.then(function(data, textStatus, jqXHR) {
         var activation_status = JSON.parse(jqXHR.responseText).message['activation_status'];
          window.localStorage.setItem("activation_status", activation_status);
          window.location.reload();
     }, function(jqXHR, textStatus, errorThrown) {
         alert(JSON.parse(jqXHR.responseText).message);
     });


    }

     
    });

  //Feedback
  $("#feedback_submit").click(function(){
    var feedback_txt = $("#feedback").val();
    if (feedback_txt == "")
    {
        var x = $("#snackbar")
        x.addClass("show")
          .html("Please share your feedback.");
        setTimeout(function() {
           x.removeClass("show");
       }, 3000);
    }
    else
    {
      var feedback = user + "," + feedback_txt;
      reqData = {};
      reqData.query = feedback;
     $.ajax({
        type: 'POST',
        url: '<%= feedback_path() %>',
        data: reqData,
        success: function()
        {
          console.log("success");
          $("#feedback").val("");
          var x = $("#snackbar")
        x.addClass("show")
          .html("Sent Feedback");
        setTimeout(function() {
           x.removeClass("show");
       }, 3000);
        }
      });
  }
    });


    $(".favourite").load(function(){
      var reqData = {};
      reqData.query = user;
      var $fav = $.ajax({
        type:'POST',
        url: '<%= favourites_list_path() %>',
        data: reqData,
      });

      $fav.then(function(data, textStatus, jqXHR){
                  var fav_data = JSON.parse(jqXHR.responseText).favourite_stores;
                  console.log(fav_data);
                  
                 }, function(jqXHR, textStatus, errorThrown){
                  alert(JSON.parse(jqXHR.responseText).message);
                 });
          });


    //favourites   
    $('#fav_link').attr('href', $('#fav_link').attr('href') + user +"&latlng="+ latlong);


}
else
{
  window.location.href="/";
}


// $.fn.datepicker.defaults.format = "dd/mm/yy";
// $('.dob').datepicker(); 
$('#dob').datepicker({
    format: 'dd/mm/yyyy',
    defaultYear: '-2yr'
 });


});
//Apply Color
    var color; 
    var letters = ['42a5f5','ffca28','bdbdbd','ef5350','66bb6a','FF7043','AB47BC','7E57C2']; 

    var x= document.getElementsByClassName("first_char");
    var i;
    for(i=0;i<x.length;i++)
    {
        color="#";
        color += letters[Math.floor(Math.random() * letters.length)];
        x[i].style.color = color;
    }
</script>


<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script async src="/assets/bootstrap-datepicker.js"></script>
</body>