<% content_for :head do %>
    <title>Mapprr | Select a nearest store to call or locate on map</title>
    <meta name="description" content="Mapprr provides you the list of nearest stores for any product with its contact details. You can locate the store on our inbuilt map interface. Now locating a store is easy and hassle-free.">
    <meta name="keywords" content="mapprr, mapper, pharmacy near me, medical near me, medical store near me, shops near me, medicine app, 24 hr pharmacy near me">
<% end %>
<div class="s_bg">
	<div class="container-fluid" style="background-color: #fdfdfd;">
		<div class="container text-right">
			<div class="dropdown">
				<a class="p_user_login dropdown-toggle" id="user_login" data-toggle="dropdown"></a>
            	<ul class="p_user_dropdown dropdown-menu">
            		<li id="profile" class="profile-li"><a class="profile-links" id="profile_link" href="/my-profile?query=">Profile Info</a></li>
              		<li id="fav" class="profile-li"><a class="profile-links" id="fav_link" href="/favourites-list?query=">Favourites</a></li>
              		<li id="logout" class="profile-li"><a class="profile-links" href="#">Logout</a></li>
            	</ul>
        	</div>
		</div>
	</div>
	<nav class="navbar navbar-light productnav" role="navigation">
		<div class="container" style="margin:18px auto;">
	  		<div class="navbar-left col-sm-6 col-md-3 col-xs-5"><a href="/"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/footer.svg", :class => "img-responsive nav_logo", :alt => "Mapprr") %></a></div>
	  		<div class="col-sm-6 col-md-3 col-xs-7 col-sx-push-0 col-md-push-6 loc_m text-right" style="margin-top: 10px;">
	    		<a class="p-location"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/location_pin2.png", :alt => "Location icon", :width=> "14px") %> <span id="geolocation"></span></a>
	    	</div>
	  		<div class="col-sm-12 col-md-6 col-xs-12 col-sx-pull-0 col-md-pull-3 search_f">
	  			<form action="<%= products_path() %>" method="POST" id="p_form">
	  				<div class="input-group searchbox-input2">
			    		<input type="text" id="search_query" name="search_query" class="form-control searchtxt2" placeholder="What are you looking for?" autocomplete="off" required="true">
			    		<div class="input-group-btn">
					      <button class="btn btn-default searchbtn2" type="submit">
					        <i class="glyphicon glyphicon-search"></i>
					      </button>
					    </div>
					</div>
				</form>
			</div>
	    </div>
	</nav>

	<div class="container" style="margin:30px auto;">
		<% if @store.nil? %>
			<h1><%= @store_data["message"] %></h1>
		<% else %>
		 <div class="col-md-3" style="">
		<% if @store['image_url'].present? %>
			<%= image_tag( "#{@store['image_url']}", :class => "card-img-top img-responsive img-rounded", :alt => "Store image") %>
		<% else %>
			<%= image_tag(('https://s3.ap-south-1.amazonaws.com/mapprr/default2.png'), :class => "card-img-top img-responsive img-rounded", :alt => "Store image" ) %>
		<% end %>
		</div>
		<div class="col-md-5" style="margin-top: 20px;">
			<h1 style=""><%= @store['name'] %></h1>
			<h2 style="font-size:20px;"><%= @store['address_line1'] %>, <%= @store['address_area'] %>, <%= @store['city'] %>.</h2>
			<div class="" style="margin-top: 20px;">
				<%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/call2.svg", :alt => "Location icon", :height=> "18px;") %>
				<span style="margin-left: 7px;font-size:18px;line-height: 10px;vertical-align: middle;color:rgb(93,194,120);font-weight: lighter;letter-spacing: 1px;"><%= @store['phone'] %></span>
				</div>

		</div>
			<div class="col-md-4">
		      
		    </div>
		<% end %>
	</div>
</div>