<% content_for :head do %>
    <title>Mapprr | Sign into Mapprr account / Creating Mapprr account</title>
    <meta name="description" content="Sign up with Mapprr to track your search history and get an instant access to your favourite stores with just one click. You are a step away from the customized experience.">
    <meta name="keywords" content="mapprr, mapper, pharmacy near me, medical near me, medical store near me, shops near me, medicine app, 24 hr pharmacy near me">
<% end %>
<div class="login_bg">
<div class="container">
  <div class="row">

    <div class="login_page">
      <h1 class="text-center" style="margin: 20px auto;"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/footer.svg", :class => "nav_logo", :alt => "Location icon") %></h1>
      <div class="loginForm">
      	<h4 class="text-center" style="color:#4e5465;">Login to access your account</h4>
                            <form id="login_submit" method="post" action="javascript:;" data-toggle="validator" role="form">
                                <div class="form-group fg" style="margin:25px 0px;position: relative;">
                                 <!--  <i class="fa fa-mobile fa-2x hidden-xs" aria-hidden="true" style="color:#757575;position: absolute;top: calc(50% - 0.5em);left:21%;"></i> -->
                                    <input type="tel" maxlength="10" minlength="10" class="login-form" id="mobile" name="mobile" value="" required="" title="Enter Mobile number" placeholder="Enter Mobile number" required="true" pattern="[1-9]{1}[0-9]{9}" style="letter-spacing: 1px;">
                                    <p class="text-center"><i style="display:none;" class="fa fa-spinner fa-pulse fa-fw loading"></i></p>
                                </div>

                                <div class="checkbox">
                                    <p class="text-center" style="padding:10px 0px; font-size:12px;">By Signing in you agree to our <a href="/privacy-policy" target="_blank" style="color:#1e88e5;">Privacy Policy</a> & <a href="/terms-and-conditions" target="_blank" style="color:#1e88e5;">Terms & Conditions</a>.</p>
                                </div>
                                <div class="text-center" style="margin:0px 0px 30px 0px;">
                                    <button type="submit" class="btn-login">Get OTP</button>
                                </div>
                            </form>
      </div>

      <!--OTPform-->
			      <div id="otp_form">

			        <h4 class="text-center" style="color:#4e5465;">OTP has been sent to <span id="mob-num"></span> <span id="edit_num" style="cursor: pointer; color:#1e88e5;">Edit</span></h4>
			        <form id="otp_submit" method="post" action="javascript:;" data-toggle="validator" role="form">
			            <div class="form-group" style="margin:25px 0px;position: relative;">
			              <!-- <i class="fa fa-hourglass-half" aria-hidden="true" style="color:#757575;position: absolute;top: calc(50% - 0.5em);left:21%;"></i> -->
			                <input type="text" class="login-form" id="otp" maxlength="6" minlength="6" name="otp" value="" required="" title="Enter OTP" placeholder="Enter OTP" style="letter-spacing: 3px;" autocomplete="off">
			                <p id="help-block" class="text-center" style="padding:5px 0px;font-size:10px;color:red;"></p>
			                <p class="text-center"><i style="display:none;" class="fa fa-spinner fa-pulse fa-fw loading"></i></p>
			            </div>
			            <div class="checkbox">
			                <p class="text-center" style="padding:8px 0px; font-size:12px;">Didn't receive OTP yet? <span id="resent" style="cursor: pointer; color:#1e88e5;">RESEND OTP</span></p>
			            </div>
			            <div class="text-center" style="margin:0px 0px 30px 0px;">
			                <button type="submit" class="btn-login">Login</button>
			            </div>
			        </form>
			    </div>
	<!-- DOB -->
			<div id="dob_form">
                          <p class="text-center" style="padding:10px 0px;font-size:14px;">Provide the following information</p>
                            <form id="dob_submit" method="post" action="javascript:;" data-toggle="validator" role="form">
                                <div class="form-group" style="margin:20px 0px;position: relative;">
                                    <input type="text" class="login-form" id="name" name="name" value="<%= @name %>" required="" title="What do we call you" placeholder="Full Name" required=""/>
                                </div>
                                <div class="form-group has-feedback" style="width: 300px;margin:0px auto;">
                                  <input style="cursor:pointer;" type="text" class="form-control login-form" id="dob" name="dob" value="<%= @dob %>" required="" title="What do we call you" placeholder="Birthday" required=""/>
                                  <i class="form-control-feedback fa fa-calendar" style="padding: 14px 0px;"></i>
                                </div>

                             <div class="form-group" style="margin:20px 0px;position: relative;">
                                <div class="gender-selection text-center">
                                  <input id="male" type="radio" name="gender" value="true" required=""/>
                                  <label class="darker male" for="male"></label>
                                  <input id="female" type="radio" name="gender" value="false" required=""/>
                                  <label class="darker female" for="female"></label>
                              </div>
                            </div>

                                <div class="text-center" style="margin:30px 0px 30px 0px;">
                                    <button type="submit" class="btn-login">Submit</button>
                                </div>
                            </form>
            </div>


    </div>

  </div>
</div>
</div>
<script type="text/javascript">
$(document).ready(function() {

  $("#logout").click(function() {
    var x = $("#snackbar")
      x.addClass("show")
        .html("Successfully logout");
      setTimeout(function() {
         x.removeClass("show");
     }, 3000);

       window.localStorage.removeItem('user');
       window.localStorage.removeItem('name');
       window.localStorage.removeItem('activation_status');
       window.localStorage.removeItem('search_query');
       window.localStorage.removeItem('search_query2');
       window.location.reload(true);
   })
  
  var latlong = window.localStorage.getItem("latlng");
       var user = window.localStorage.getItem("user");
       var name = window.localStorage.getItem("name");
       var activation_status = window.localStorage.getItem("activation_status");


   $("#search_query").keyup(function query() {
       var search = $("#search_query").val();
       
       if (user == null) {
           search += ",," + latlong;
       } else {
           search += "," + user + "," + latlong;
       }

       var reqData = {};
       reqData.product = search;
       var $a = $.ajax({
           type: 'POST',
           url: '<%= suggested_list_path() %>',
           data: reqData
       });

       $a.then(function(data, textStatus, jqXHR) {
           var search_suggestions = JSON.parse(jqXHR.responseText).suggestions;
           $("#search_query").autocomplete({
               source: search_suggestions
           });
       }, function(jqXHR, textStatus, errorThrown) {
           alert(JSON.parse(jqXHR.responseText).message);
       });
   });

   $("form#s_form").submit(function(e) {
      gtag_report_conversion();
       var search = $("#search_query").val();
       window.localStorage.setItem("search_query", search);
       e.preventDefault();
       window.location.href = "/products?product="+search;
   });


$("#login_submit").submit(function() {
            $(".loading").show();
               var mobile = $("#mobile").val();
               var reqData = {};
               reqData.mobile = mobile;
               var $a = $.ajax({
                   type: 'POST',
                   url: '<%= user_login_path() %>',
                   data: reqData
               });

               $a.then(function(data, textStatus, jqXHR) {
                   var $otp_msg = JSON.parse(jqXHR.responseText).message['otp'];
                   $(".loading").hide();
                   $("div.loginForm").hide();
                   $("div#otp_form").show(function(){
                      $("#edit_num").click(function() {
                        $("div#otp_form").hide();
                         $("div.loginForm").show();
                       });

                   });
               }, function(jqXHR, textStatus, errorThrown) {
                   alert(JSON.parse(jqXHR.responseText).message);
               });

               $("#mob-num").html(mobile);
               $("#modal-title").html("Get OTP");
           });
           //resent otp
           $("#resent").click(function() {
            $(".loading").show();
               var mobile = $("#mob-num").html();
               var reqData = {};
               reqData.mobile = mobile;
               var $a = $.ajax({
                   type: 'POST',
                   url: '<%= user_login_path() %>',
                   data: reqData
               });

               $a.then(function(data, textStatus, jqXHR) {
                   var $otp_msg = JSON.parse(jqXHR.responseText).message['otp'];
                   $(".loading").hide();
               }, function(jqXHR, textStatus, errorThrown) {
                   alert(JSON.parse(jqXHR.responseText).message);
               });
               $("#modal-title").html("Get OTP");
           });
           //otp

           $("#otp_submit").submit(function() {
            $(".loading").show();
               var phn = $("#mob-num").html();
               var otp = $("#otp").val();
               var reqData = {};
               reqData.mobile = phn;
               reqData.otp = otp;
               var $a = $.ajax({
                   type: 'POST',
                   url: '<%= user_login_path() %>',
                   data: reqData

               });

               $a.then(function(data, textStatus, jqXHR) {
                   var user = JSON.parse(jqXHR.responseText).message['user_id'];
                   var activation_status = JSON.parse(jqXHR.responseText).message['activation_status'];
                   window.localStorage.setItem("activation_status", activation_status);
                   var name = JSON.parse(jqXHR.responseText).message['user_name'];
                   var dob = JSON.parse(jqXHR.responseText).message['dob'];
                   var gender = JSON.parse(jqXHR.responseText).message['gender'];
                   window.localStorage.setItem("user", user);
                   window.localStorage.setItem("name", name);
                   $(".loading").hide();
                    var fname = window.localStorage.getItem("name");
                        if(activation_status != true )
                        {
                            $("div#dob_form").show();
                            $("div#otp_form").hide();

                            if(name == 'null')
                            {
                              $("#name").val('');
                              $("#name").attr("placeholder", "Name");;
                            }
                            else
                            {
                              $("#name").val(name);
                            }
                            
                            $("#dob").val(dob);
                                if(gender == true)
                                 {
                                  $('input#male').prop('checked', true);
                                 }
                                 if(gender == false)
                                 {
                                  $('input#female').prop('checked', true);
                                 }
                        }
                        else
                        {
                          
                          window.localStorage.setItem("name", name);
                          var fname = window.localStorage.getItem("name");
                          $("#user_login").html("<span class='user_name'>Hi "+fname+"</span> <span class='caret'></span>")
                            .parent().addClass("dropdown");
                            if('<%= @pass %>' == 'false'){
                              window.location.href = '/stores?query=' + user + '<%= @query %>';
                            }
                          else{
                            window.location.href="<%= request.referer %>";
                          }
                         }

               }, function(jqXHR, textStatus, errorThrown) {
                   $("#help-block").html("Invalid OTP");
                   $("#otp").css("border-color", "red");
                   $(".loading").hide();
               });
           });

           //name and dob
           $("#dob_submit").submit(function() {
            $(".loading").show();
               var name = $("#name").val();
               window.localStorage.setItem("name", name);
               var user = window.localStorage.getItem("user");

               var gender = $("input[name='gender']:checked").val();

               var dob = $("#dob").val();
               var query = user + ","+name+","+gender+","+dob;
               var reqData = {};
               reqData.query = query;
               var $a = $.ajax({
                   type: 'POST',
                   url: '<%= set_profile_path() %>',
                   data: reqData
               });
               $a.then(function(data, textStatus, jqXHR) {
                   var status = JSON.parse(jqXHR.responseText).activation_status;
                   var user_id = JSON.parse(jqXHR.responseText).user_id;
                   window.localStorage.setItem("activation_status", status);
                   window.localStorage.setItem("name", name);
                   if('<%= @pass %>' == 'false'){
                              window.location.href = '/stores?query=' + user_id + '<%= @query %>';
                            }
                          else{
                            window.location.href="<%= request.referer %>";
                          }

               }, function(jqXHR, textStatus, errorThrown) {
                   alert(JSON.parse(jqXHR.responseText).message);
               });
               
           });

// $('#dob').datepicker();
// $.fn.datepicker.defaults.format = "dd/mm/yyyy";

 $('#dob').datepicker({
    format: 'dd/mm/yyyy',
    defaultYear: '-2yr'
 });

// var dt = new Date();
// dt.setFullYear(new Date().getFullYear()-18);

// $('#dob').datepicker(
//     {
//         viewMode: "years",
//         endDate : dt
//     }
// );



});
</script>

<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script async src="/assets/bootstrap-datepicker.js"></script>