
body.b_bg{
	background-color: #fcfcfc;
}
a.newlink{
	text-decoration: none;
}
.img-responsive.blog_img
{
    display: block;
    width: 100%;
    height: auto;
}
.content-flow{
	display: block;
    display: -webkit-box;
    height: 45px;
    line-height: 1.6;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:16px;
    color:#757575;
}
.show-content{
	font-size: 16px;
    color:#263238;
}
.show-content p strong
{
    color:#000000;
    font-size:18px;
}

.col-md-6.blog-grid
{
    position: relative;
    min-height: 1px;
    padding: 5px;
    display:inline-block;
}
a.float-right {
    float: right !important;
    text-decoration:none;
    color:#1C9963 !important;
    font-weight:600;
}
span.time
{
    color:#bdbdbd;
    font-weight:400;
}
.blog {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d1d1d1, 0 0 0 1px #d1d1d1;
    background-color:#fff;
}

.blog-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.blog-img {
    display: block;
    width: 100%;
    /*height: 250px;*/
}
h2.blog-title {
    margin:18px 0px 15px 0px;
    color:#263238;
}
h5.time
{
    font-size: 12px;
    color:#bdbdbd;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:1px;
    color:#1C9963 !important;
    margin-bottom:10px;
}
h3.blog-title {
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.2857em;
}
h3.blog-title a
{
    text-decoration:none;
    color:#263238;
}
.blog-text {
    clear: both;
    margin-top: .5em;
}

.blog-footer {
    font-size: 12px;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}
.create_blog .form-blog 
{
    display: block;
    width: 100%;
    padding: 10px 14px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px !important; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.blog-btn
{
    min-width:120px;
    padding: 10px 14px;
    border-radius: 0px !important; 
}
.blog-content{
    display: block;
    display: -webkit-box;
    max-width: 400px;
    height: 70px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.2;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}