div.h_bg {
     background-color:#ffffff;
     background: url(https://s3.ap-south-1.amazonaws.com/mapprr/web-bg2.png) no-repeat center bottom;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    height:100%;
    
}
div.team_cover {
     background-color:#ffffff;
     background:url(../assets/team_cover2.jpg) no-repeat center bottom;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    height:100%;
    
}
div.careers_bg {
     background-color:#ffffff;
     background: url(../assets/careers_banner.png) no-repeat center bottom;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    height:100%;
    
}
 .user_login:hover {
     text-decoration: none;
}
 span.caret {
}
 .home-nav {
     padding:20px 0px;
     color:#263238;
}
.col-xs-6.location
{
    padding-left: 0px;
    padding-right: 15px;
}
 a.home-location {
     text-decoration:none;
     color:#263238;
     cursor:pointer;
}

.loc_m .home-location, .user_login
{
  max-width:100%;

  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}

 a.home-location span#geolocation {
     line-height:40px;
     vertical-align:middle;
     font-size:14px;
    color:#263238;
}
 .search-title {
     /*margin:50px 0px 30px;*/
}
 .search-box {
     margin:20px 0px 20px 0px;
}
 .searchbox-input {
     width:550px;
     margin:auto;
     border: 0px;
     border-radius: 1px;
     -webkit-box-shadow: 0px 0px 4px 1px rgba(189,189,189,0.7);
     -moz-box-shadow: 0px 0px 4px 1px rgba(189,189,189,0.7);
     box-shadow: 0px 0px 4px 1px rgba(189,189,189,0.7);
}
 input[type="text"].searchtxt {
     width:550px;
     padding:12px 16px;
     font-size: 16px;
     font-weight: 300;
     letter-spacing: 1px;
     margin:auto;
     border: 0px;
     border-radius: 0px;
     box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
}
 .contact-input {
     margin:20px auto;
     width:600px;
     position: relative;
}
 @media screen and (min-width: 690px) {
     .user_login {
         text-transform: capitalize;
         line-height:40px;
         font-size:16px !important;
         cursor:pointer;
    }
    .dropdown-menu .profile-li
    {
        font-size:16px;
    }
     a.home-location span#geolocation {
         line-height:40px;
         vertical-align:middle;
         font-size:16px;
        max-width:230px;
     text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color:#263238;
    }
    
     .mapprr-container {
         margin-right: auto;
         margin-left: auto;
         padding-left: 15px;
         padding-right: 15px;
         width:90%;
    }
     .contact_input {
         margin:20px auto;
         width:600px;
         position: relative;
    }
     i.nav-more {
         display:none;
    }
    .hr
    {
        display:none;
    }
}

@media screen and (min-device-width:992px){
     .search-sec
         {
         margin:10% auto 30% auto;
         }
    .feature_img.img-responsive 
        {
         display: inline-block;
         max-width: 45%;
         height: auto;
         margin-top:20px;
        }
    .flow, .blogs, .features
        {
            margin:7% auto;
        }
        .team
        {
            margin:5% auto;
        }
}
@media screen and (min-device-width:768px) and (max-device-width: 991px) {
 .search-sec
 {
 margin:10% auto 22% auto;
 }
  .feature_img.img-responsive {
     display: inline-block;
     max-width: 55%;
     height: auto;
     margin-top:20px;
}
.flow, .blogs, .features
        {
            margin:7% auto;
        }
        .team
        {
            margin:5% auto;
        }
}
@media screen and (min-device-width:481px) and (max-device-width: 767px) {
 .search-sec
 {
 margin:10% auto 22% auto;
 }
}
@media screen and (max-device-width: 480px) {
    .search-sec
 {
 margin:30% auto 65% auto;
 }
}

.title img.img-responsive{display:inline-block;}

 @media screen and (max-width: 769px) {
.blog-card {
    margin: 15px auto;
    }
    }
 @media screen and (max-width: 689px) {

 .testi_txt
 {
    height:300px;
 }
 .blog-card {
    margin: 15px auto;
    }
 .hr
 {
    display:block;
 }
     .contact_input {
         width:100%;
    }
     .mapprr-container {
         margin-right: auto;
         margin-left: auto;
         padding-left: 15px;
         padding-right: 15px;
         width:100%;
    }
     .smallnav{
         display: inline-block;
         float:right;
         cursor:pointer;
         text-decoration:none;
         margin:auto;
         line-height: 43px;
         vertical-align: middle;
    }
     .searchbox-input {
         width:100%;
         font-size: 16px;
         font-weight: 300;
         letter-spacing: 1px;
         margin:auto;
         border: 0px;
         border-radius: 1px;
         -webkit-box-shadow: 0px 0px 4px 1px rgba(189,189,189,0.7);
         -moz-box-shadow: 0px 0px 4px 1px rgba(189,189,189,0.7);
         box-shadow: 0px 0px 4px 1px rgba(189,189,189,0.7);
    }
     input[type="text"].searchtxt {
         width:100%;
         padding:12px 16px;
         font-size: 16px;
         font-weight: 300;
         letter-spacing: 1px;
         margin:auto;
         border: 0px;
         border-radius: 0px;
         box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    }
}
 button.searchbtn {
     padding:12px 16px;
     font-size: 16px;
     font-weight: 300;
     letter-spacing: 1px;
     margin:auto;
     border: 0px;
     border-radius: 1px;
     background-color:#1e88e5;
     color:#ffffff;
}
 button.searchbtn:hover, button.searchbtn:active, button.searchbtn:focus {
     background-color:#50c3f8;
     color:#ffffff;
}

 input[type="text"].searchtxt::placeholder {
     color: #bdbdbd;
}
 h1.title {
     color:#263238;
}
 a.subtitle {
     color:#757575;
}
/************** Login Css *************/
 button.close {
     font-size:21px;
     color:#fff;
     opacity: 0.9;
    filter: alpha(opacity=90);
}
button.close:hover, button.close:focus {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    color: #fafafa;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=100);
}
 .modal-header {
     padding: 25px;
     border-bottom: 0px;
     background-color:#2196f3;
     color:#ffffff;
}
 .modal-content {
     position: relative;
     background-color: #ffffff;
     border-radius: 2px;
     border:1px solid rgba(255,255,255,0.1);
     -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
     box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
     background-clip: padding-box;
     outline: 0;
}
 .login-form {
     display: block;
     min-width: 300px;
     height: 42px;
     padding: 10px 25px 10px 30px;
     font-size: 14px;
     line-height: 1.428571429;
     color: #555555;
     background-color: #fff;
     background-image: none;
     border: 0px;
     border-radius: 0px;
     border:1px solid #cccccc;
     margin:0px auto;
}
 input.login-form:focus {
     border:1px solid #1e88e5;
     outline: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    */
}
 .btn-login {
     display: inline-block;
     margin : 0px auto;
     font-weight: normal;
     text-align: center;
     vertical-align: middle;
     touch-action: manipulation;
     cursor: pointer;
     background-image: none;
     border: 1px solid transparent;
     white-space: nowrap;
     padding:8px 12px;
     font-size: 14px;
     line-height: 1.428571429;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     letter-spacing:1.5px;
     color: #fff;
     /*background-color: #4CAF50;
     border-color: #4CAF50;*/
        background: linear-gradient(to bottom, #2195f3 0%, #1e88e5 100%);
     border-radius: 50px;
     min-width:200px;
}
 .btn-login:hover {
     color: #fff;
     /*background-color: #388E3C;
     border-color: #388E3C;*/
    background: linear-gradient(to bottom, #1e88e5 0%, #2196f3 100%);
}
 div#otp_form, div#dob_form {
     display:none;
}
 .ui-menu .ui-menu-item-wrapper {
     padding:10px 12px !important;
}
 .ui-menu .ui-menu-item-wrapper:hover {
     background-color:#42A5F5;
     border:1px solid #42A5F5 !important;
}
/*landing screen css*/
 .flow, .blogs, .features {
    padding:40px 0px;
}

 .testimonals {
     padding:60px 0px;
}
 .testimonals h2.headings {
     color:#ffffff;
}
 .contact {
     padding:50px 0px 1px 0px;
}
 .headings {
    font-size: 30px;
     text-align:center;
     color:#263238;
    /*text-transform:capitalize;
    */
}
 .flow_content {
     font-size: 16px;
     color: #757575;
     text-align:center;
}
 .footer_content {
     font-size: 14px;
     color: #263238;
     line-height: 25px;
     padding:3px;
}
 .footer_content p a {
     color:#263238;
     text-transform: capitalize;
}
 .footer_text {
     width:85%;
     margin-top:10px;
     font-size: 12px;
     color: #263238;
     line-height: 20px;
}
div.footer_text.media_links a
{
    margin:auto 9px;
    color:#263238;
}
.img-responsive.howitworks
{
    display: inline-block;
    max-width: 95%;
    height: auto;
}
/*.features {
     background-color:#f6f9fc;
}
*/
 .footer {
     padding:70px 0px 30px 0px;
    background-color:#fafafa;
    
}
 .social-media {
     margin-top:7px;
}
/****** social icon *************/
 .social-media a img, div.social-media i.fa {
     padding:0px 7px;
     color:#263238;
}
i.fa-facebook:hover, i.fa-facebook:focus, i.fa-facebook-square:hover  {
     color:#3b5998;
}
i.fa-linkedin:hover, i.fa-linkedin:focus, i.fa-linkedin-square:hover {
     color:#0077b5;
}
i.fa-instagram:hover, i.fa-instagram:focus {
     color:#c13584;
}
i.fa-google-plus:hover, i.fa-google-plus:focus {
     color:#dd4b39;
}
i.fa-twitter:hover, i.fa-twitter:focus {
     color:#1da1f2;
}
i.fa-angellist:hover, i.fa-angellist:focus
{
    color:#231f20;
}
 .testimonals {
     background-color:#f6f9fc;
     background: url(https://s3.ap-south-1.amazonaws.com/mapprr/testimonals2.png) no-repeat center center #f6f9fc;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     width:100%;
}
.testimonials-title
{
    font-size:16px;
}
 .testimonals .carousel-inner {
     /*height:140px;*/
}

 .item {
     color:#ffffff;
}
 .carousel-control.left, .carousel-control.right {
     background:none;
}
i.fa-quote-left
{
  position:relative;
  top:20px;
  left:20%;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
/* carousel */
 #quote-carousel {
     padding: 0 10px 30px 10px;
     margin-top: 30px;
}
/* Control buttons */
 #mapprrCarousel .carousel-control {
     background: none;
     color: #ffffff;
     text-shadow: none;
     margin-top: -30px;
}
.carousel-inner
{
  width:60%;
  margin:30px auto;
}
#slider .carousel-inner
{
  width:100%;
  margin:0px;
}

 .carousel-inner img {
     width: 70px;
     height: 70px 
}
/* End carousel */

 .item blockquote {
     border-left: none;
     margin: 0;
}
 .item blockquote img {
     margin-bottom: 10px;
}
 .item blockquote p:before {
     content: "\f10d";
     font-family: 'Fontawesome';
     float: left;
     margin-right: 10px;
}
.bcard
  {
    width: 100%;
    height: 200px;
    padding: 7px;
  }
 .blog-card {
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
     width: 100%;
     border-radius: 5px;
     background-color:#ffffff;
}
 .blog-card:hover {
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
     transform: scale(1.18);
      z-index: 9999;
    position: relative;
}
 .blog-card:hover div.blog-footer
 {
    background: linear-gradient(to bottom, #2195f3 0%, #1e88e5 100%);
    transition: 0.3s;
 }
  .blog-card:hover div.blog-footer a
 {
    color:#ffffff;
 }
div.blog-footer a
{
    color:#1C9963;
}
 .blog-card img {
     border-radius: 5px 5px 0 0;

}
 .blog-card .card-text, .blog-card .card-title {
     padding:20px;
}

 .blog-card .card-title {
     padding:20px 20px 0px 20px;
}
 .mapprr-btn {
     letter-spacing: 1px;
     border-radius: 50px;
     padding: 10px 0px;
     background: rgba(33,149,243,1);
     background: -moz-linear-gradient(top, rgba(33,149,243,1) 0%, rgba(30,136,229,1) 100%);
     background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(33,149,243,1)), color-stop(100%, rgba(30,136,229,1)));
     background: -webkit-linear-gradient(top, rgba(33,149,243,1) 0%, rgba(30,136,229,1) 100%);
     background: -o-linear-gradient(top, rgba(33,149,243,1) 0%, rgba(30,136,229,1) 100%);
     background: -ms-linear-gradient(top, rgba(33,149,243,1) 0%, rgba(30,136,229,1) 100%);
     background: linear-gradient(to bottom, rgba(33,149,243,1) 0%, rgba(30,136,229,1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2195f3', endColorstr='#1e88e5', GradientType=0 );
     color:#ffffff !important;
     border-color:transporent;
}
 .mapprr-btn:hover {
     background: rgba(25,117,210,1);
     background: -moz-linear-gradient(left, rgba(25,117,210,1) 0%, rgba(33,149,243,1) 100%);
     background: -webkit-gradient(left top, right top, color-stop(0%, rgba(25,117,210,1)), color-stop(100%, rgba(33,149,243,1)));
     background: -webkit-linear-gradient(left, rgba(25,117,210,1) 0%, rgba(33,149,243,1) 100%);
     background: -o-linear-gradient(left, rgba(25,117,210,1) 0%, rgba(33,149,243,1) 100%);
     background: -ms-linear-gradient(left, rgba(25,117,210,1) 0%, rgba(33,149,243,1) 100%);
     background: linear-gradient(to right, rgba(25,117,210,1) 0%, rgba(33,149,243,1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1975d2', endColorstr='#2195f3', GradientType=1 );
}
 .upper-links {
     display: inline-block;
     padding: 0 0px;
     line-height: 23px;
     letter-spacing: 0;
     color: inherit;
     border: none;
     outline: none;
}
 .dropdown {
     position: relative;
     display: inline-block;
     margin-bottom: 0px;
}
 .dropdown:hover .dropdown-menu {
     display: block;
}
 .dropdown .dropdown-menu {
     position: absolute;
     top: 100%;
     display: none;
     background-color: #fff;
     color: #333;
     border: 0;
     border-radius: 0;
     margin: 0;
     padding: 0px;
}
 .profile-links {
     border-bottom: 1px solid #f3f3f3;
     box-sizing: border-box;
     display: block;
     padding: 0 7px;
     line-height: 21px;
}
 .dropdown .dropdown-menu:before {
     position: absolute;
     top: -7px;
     right: 0px;
     display: inline-block;
     border-top: 0px solid #fff;
     border-left: 7px solid transparent;
     border-right: 7px solid transparent;
     border-bottom: 7px solid #fff;
     content: " ";
}
 .imgfooter {
     background: url(imgfooter.png) no-repeat center bottom #f6f9fc;
     border-bottom: 1px solid #cccccc;
     width: 100%;
     height: 100px;
}
 .feature_grid {
     padding:10px 10px;
     width:90%;
     margin:0px auto;
}
 .team_grid {
     padding:10px 10px;
    /* width:90%; */
     margin:0px auto;
}
 .features .col-md-3,  .team .col-md-3 {
     padding-left: 5px;
     padding-right: 5px;
}
 .flow img.img-responsive {
     max-width: 100%;
     height: auto;
     display:inline-block;
}
 .grid-flex .flow_content {
     display: flex;
     align-items: center;
     justify-content: center;
}
 .col-image {
     background-size: cover;
     background-position:center center;
}
 .grid-flex {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-flex: 1;
     -webkit-flex-grow: 1;
     -ms-flex-positive: 1;
     flex-grow: 1;
     flex-direction: row;
     -webkit-flex-direction: row;
     -webkit-flex-wrap: wrap;
     -webkit-justify-content: space-around;
}
 .col {
     -webkit-box-flex: 1;
     -webkit-flex: 1;
     -ms-flex: 1;
     flex: 1;
}
 .col-left {
     -webkit-box-ordinal-group:-1;
     -webkit-order: -1;
     -ms-flex-order: -1;
     order: -1;
}
 .Aligner-item {
     width: 100%;
}
 @media screen and (min-width: 768px) {
        .glyphicon-chevron-left, .glyphicon-chevron-right
         {
            font-size:50px;
         }
 }
 @media screen and (max-width: 767px) {
 .glyphicon-chevron-left, .glyphicon-chevron-right
 {
    font-size:30px;
 }
     .features .col-md-3,  .team .col-md-3 {
         padding:7.5px 15px;
    }
     .grid-flex {
         display: -webkit-flex;
         -webkit-flex-direction: column;
         flex-direction: column;
    }
     .col {
         order:vertical;
    }
     .col-left {
         -webkit-box-ordinal-group:0;
         -webkit-order: 0;
         -ms-flex-order: 0;
         order: 0;
    }
     .Aligner-item {
         width: 90%;
         margin-top:20px;
    }
    /*#nav-link {
         display:none;
    }
    */
     .navbar-left, .navbar-right, .navbar-right.user_login {
         display:inline-block;
    }
     .user_login {
         text-transform: capitalize;
         line-height:40px;
         font-size:14px;
         cursor:pointer;
    }
     .footer_content {
         text-align:center;
    }
     .footer_content img.img-responsive {
         display: inline-block;
         max-width: 100%;
         height: auto;
    }
     .footer_text {
         width: 100%;
         padding:0px 10px;
         margin-top: 10px;
         font-size: 12px;
         color: #263238;
         line-height: 20px;
    }
}
 i.nav-more {
     padding:10px;
     cursor:pointer;
}
 .features-content {
     font-size: 14px;
     color: #757575;
     text-align:center;
}
 .feature_grid img {
     width:125px;
}
 .features-title {
    font-size:21px;
    text-align:center;
    line-height: 1.1;
    margin-top: 10px;
    font-weight: 500;
}
 .flow_step {
}
 .flow_title {
    text-align: center;
    font-size: 21px;
    font-weight: 500;
    line-height: 1.1;
}

 .grid-flex .animated {
     -webkit-transform: translateY(0);
     -ms-transform: translateY(0);
     transform: translateY(0);
     -webkit-transition: all 320ms ease-out;
     transition: all 320ms ease-out;
}
 .blogs .col-md-6 {
     padding-left: 7px !important;
     padding-right: 7px !important;
}
 .one {
     animation-duration: 200ms;
     animation-delay: 100ms;
}
 .two {
     animation-duration: 400ms;
     animation-delay: 300ms;
}
 .three {
     animation-duration: 500ms;
     animation-delay: 400ms;
}
 .four {
     animation-duration: 600ms;
     animation-delay: 500ms;
}
 .five {
     animation-duration: 600ms;
     animation-delay: 900ms;
}
 .gradient {
     background: #6027ca;
    /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #586efc, #6027ca);
    /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #586efc, #6027ca);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
 .gradient2 {
     background: #F2994A;
    /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);
    /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #F2C94C, #F2994A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
 .gradient3 {
     background: #155BEE;
    /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #24B7E8, #155BEE);
    /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #24B7E8, #155BEE);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

 .fp-section.fp-table, .fp-slide.fp-table {
     display: table;
     table-layout:fixed;
     width: 100%;
}
 .fp-tableCell {
     display: table-cell;
     width: 100%;
     height: 100%;
}
 .fp-scrollable {
     overflow: hidden;
     position: relative;
}
 .fp-scroller{
     overflow: hidden;
}

 .fp-auto-height.fp-section, .fp-auto-height .fp-slide, .fp-auto-height .fp-tableCell{
     height: auto !important;
}
 .fp-responsive .fp-auto-height-responsive.fp-section, .fp-responsive .fp-auto-height-responsive .fp-slide, .fp-responsive .fp-auto-height-responsive .fp-tableCell {
     height: auto !important;
}

.datepicker{z-index:1151 !important;}

#m_loc.f-control
{
    display: block;
    width: 100%;
    height: 42px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #263238;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}



.pac-logo:after {
    content: "";
    padding: 1px 1px 1px 0;
    height: 16px;
    text-align: right;
    display: none;
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 120px 14px
}
.hdpi.pac-logo:after {
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3_hdpi.png)
}
.pac-item {
    cursor: default;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    border-top: 1px solid #e6e6e6;

    width:100%;
    padding: 6px 12px;
    font-size: 14px !important;
    color: #263238 !important;
}
.pac-item:hover {
    background-color: #fafafa;
}
.pac-item-selected,
.pac-item-selected:hover {
    background-color: #fafafa;
}
.pac-matched {
    font-weight: 700
}
.pac-item-query {
    font-size: 13px;
    padding-right: 3px;
    color: #000
}
.pac-icon {
    width: 15px;
    height: 20px;
    margin-right: 7px;
    margin-top: 6px;
    display: inline-block;
    vertical-align: top;
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
    background-size: 34px
}
.hdpi .pac-icon {
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons_hdpi.png)
}
.pac-icon-search {
    background-position: -1px -1px
}
.pac-item-selected .pac-icon-search {
    background-position: -18px -1px
}
.pac-icon-marker {
    background-position: -1px -161px
}
.pac-item-selected .pac-icon-marker {
    background-position: -18px -161px
}
.pac-placeholder {
    color: gray
}
.loc_m .dropdown-menu:before {
     position: absolute;
     top: -7px;
     right: 0px;
     display: inline-block;
     border-top: 0px solid #fff;
     border-left: 7px solid transparent;
     border-right: 7px solid transparent;
     border-bottom: 7px solid #fff;
     content: " ";
}
 @media screen and (max-width: 420px)
 {
 a.home-location span#geolocation, .user_login{font-size:13px;}
  .social-media a img
     {
     display:inline;
     }
     .m_view
     {
        display:block;
     }
 }
  @media screen and (min-width: 768px)
 {
     .social-media a
     {
     display:block;
     }
 }
/*************************** Notification Box **************************************/
.notification.modal-dialog {
    display:none;

    position: fixed;
    top: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    width: 100% ;
    margin: 0px; 
}
.notification .modal-header {
     border-bottom: 0px;
     background-color:transparent !important;
     color:#ffffff;
}
.notification_app
{
    width:130px;
}
.notify_logo
{
    width:168px;
}
.nav_logo
{
    width:161px;
}
.mapprr_logo
{
    width:210px;
}
/***** Login page ******/
.login_bg
{
    background-color: #ffffff;
    background: url(https://s3.ap-south-1.amazonaws.com/mapprr/bg.png) no-repeat center bottom;
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     height: 100%;
}
 @media screen and (min-width: 690px) {
    .login_page
    {
        width:50%;margin:150px auto;
        padding:10px;
        background-color: #ffffff;
        -webkit-box-shadow: 0px 0px 12px 1px rgba(78,84,101,0.21);
        -moz-box-shadow: 0px 0px 12px 1px rgba(78,84,101,0.21);
        box-shadow: 0px 0px 12px 1px rgba(78,84,101,0.21);
    }
}
 @media screen and (max-width: 690px) {
    .login_page
    {
        width:100%;
        margin:150px auto;
        padding:10px;
        background-color: #ffffff;
        -webkit-box-shadow: 0px 0px 12px 1px rgba(78,84,101,0.21);
        -moz-box-shadow: 0px 0px 12px 1px rgba(78,84,101,0.21);
        box-shadow: 0px 0px 12px 1px rgba(78,84,101,0.21);
    }
}


div.team_social_link a
{
    margin:auto 6px;
    color:#4e5465;
}
.team_mem_pic
{
    margin-bottom:15px;
}
.team_mem_pic img{
/*-webkit-filter: grayscale(50%);*/ /* Safari 6.0 - 9.0 */
    /*filter: grayscale(50%);*/}
.team_mem
{
   min-width:320px;
   margin-right:70px;
}
/***** Careers page ******/
.panel-default > .panel-heading {
    color: #333333;
    background-color: transparent;
    border-color: #ddd;
    padding: 20px;
}
h6{
    font-size: 14px;
    line-height: 25px;
    color: #263238;
text-transform: capitalize;
}