<% if @product.present? %>
  <% content_for :head do %>
      <title>Mapprr | <%= 'Find ' + @product_data['product']['name'].capitalize + ' in stores nearby you' %></title>
      <meta name="description" content="<%= (@product_data['product']['medicine_information'] || @product_data['product']['related_diseases'] || 'Get medicines, groceries, and electronic product stores through barcode scanner or product search and know where the product is available at your nearby location through Mapprr.')[0..180] %> " >
      <meta name="keywords" content="<%= @product_data['product']['name'].capitalize + ' , Search for ' + @product_data['product']['name'].capitalize + ' availability, ' + params[:sub_category].titleize + ' , ' + params[:category].titleize %>">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" />
  <% end %>
<% end %>
<div class="p_bg" style="background-color: #fafafa;">
  <div class="container-fluid">
		<div class="container text-right">
			<div class="upper-links">
			 <span class="p_user_login" id="user_login"></span>
        <ul class="p_user_dropdown dropdown-menu">
          <li id="profile" class="profile-li"><a class="profile-links" id="profile_link" href="/my-profile?query=">Profile Info</a></li>
          <li id="fav" class="profile-li"><a class="profile-links" id="fav_link" href="/favourites-list?query=">Favourites</a></li>
          <li id="logout" class="profile-li"><a class="profile-links" href="">Logout</a></li>
        </ul>
      </div>
		</div>
	</div>
  <nav class="navbar navbar-light productnav" role="navigation">
    <div class="container" style="margin:18px auto;padding-left: 0px;padding-right: 0px;">
	  	<div class="navbar-left col-sm-6 col-md-3 col-xs-5 logo"> <a href="/"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/footer.svg", :class => "img-responsive nav_logo", :alt => "Mapprr") %> </a></div>
      <div class="col-sm-6 col-md-3 col-xs-7 col-sx-push-0 col-md-push-6 loc_m text-right" style="margin-top: 15px;">
        <div style="width:100%;">
          <a class="p-location" data-toggle="dropdown"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/location_pin2.png", :alt => "Location icon", :width=> "13px") %> <span id="geolocation">Choose your location</span></a>
          <ul class="dropdown-menu c_loc" role="menu" style="border: 0;border-radius: 0;margin: 0;padding: 15px 7px;position: absolute;top: 100%;right: 0;left:auto;">
            <li class="dropdown-header" style="color: #263238;  ">Select Location</li>
            <li id="profile" class="profile-li" style="padding:7px 12px;">
              <form id="mform" method="post" action="javascript:;" data-toggle="validator" role="form">
                <div class="input-group" style="border:1px solid #bdbdbd;">
                  <input id="m_loc" type="text" class="f-control" placeholder="Type your location..." style="border:0px; min-width: 250px" /> 
                  <span class="input-group-btn" style="border-left: 1px solid #bdbdbd;padding:1px;">
                  <button class="btn btn-secondary" id="detect_loc" type="button" style="background-color: #fff;"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/location_pin2.png", :alt => "Location icon", :width=> "13px") %></button>
                  </span>
                </div>
              </form>
            </li>
          </ul>
        </div>
      </div>
  <!--     <div class="three"> -->
	  	<div class="col-sm-12 col-md-6 col-xs-12 col-sx-pull-0 col-md-pull-3 search_f " style="margin-top: 7px;">
	  		<form action="<%= products_path() %>" method="POST" id="p_form" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
          <meta itemprop="target" content="https://mapprr.com/products?product={search_query}"/>
	  		 <div class="input-group searchbox-input2">
          <input type="text" id="search_query" itemprop="query-input" name="search_query" class="form-control searchtxt2" placeholder="What are you looking for?" autocomplete="off" required="true" value="<%= params[:name].gsub('-', ' ').upcase %>">
			    <div class="input-group-btn">
			      <button class="btn btn-default searchbtn2" type="submit">
			        <i class="glyphicon glyphicon-search"></i>
			      </button>
			    </div>
			   </div>
		    </form>
			</div>
   <!--  </div> -->
   <!--  <div class="two"> -->
	    
<!--     </div> -->
    </div>
	</nav>
	<div style="margin-bottom: 20px;">
    <% if @product.nil? %>
      <h1 style="margin: 100px"><%= @product_data["message"] %></h1>
    <% else %>
<div style="padding-bottom:25px; margin-bottom:20px;border: 0px;border-radius: 0px;background-color: #ffffff;">
  <div class="container">
    <div class="row">
      <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="/"><span itemprop="name">Home</span></a><meta itemprop="position" content="1" /></li>
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href="/products?product=<%= params[:name].split('-')[0] %>"><span itemprop="name">Products</span></a><meta itemprop="position" content="2" /></li>
          <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a itemprop="item" href=""><span itemprop="name"><%= @product_data['product']['name'].capitalize %></span></a><meta itemprop="position" content="3`" /></li>
        </ol>
    </div>
    <div class="row">
      <div class="col-md-3" style="margin-top: 120px;">
        <% if @product['image_url'].present? %>
          <img class="pull-left" src="<%= @product['image_url'] %>">
        <% else %>
          <%= image_tag 'noProduct.png' %>
        <% end %>
      </div>
    <div class="col-md-5">
      <h1 id="show_products"><%= @product["name"] %></h1>
      <span><%= @product['manufacturer'] %></span>
     <!--  <span id="<%= @product['id'] %>" class="show_stores" style="font-size: 13px; line-height: 20px; color: blue; cursor: pointer;">Click here to locate <%= @product['name'] %> at your nearby stores</span> -->
      <table class="table col-md-4" style="margin-top: 20px;">
        <tr>
          <td><b>Composition :</b></td>
          <td><%= @product['composition'] || "-" %></td>
        </tr>
        <tr>
          <td><b>Brand :</b></td>
          <td><%= params[:brand].gsub('-', ' ').capitalize %></td>
        </tr>
        <tr>
          <td><b>Sub Category :</b></td>
          <td><%= params[:sub_category].gsub('-', ' ').capitalize %></td>
        </tr>
        <tr>
          <td><b>Category :</b></td>
          <td><%= params[:category].gsub('-', ' ').capitalize %></td>
        </tr>
        <% if params[:category] == "health-&-pharmacy" %>
        <tr>
          <td><b>Primarily used for :</b></td>
          <td><%= @product['related_diseases'] || "-" %></td>
        </tr>
        <% end %>
        <tr>
          <td><b>Description :</b></td>
          <td><%= @product['description'] || "-" %></td>
        </tr>
      </table>
      <div class="text-center">
            <a id="<%= @product['id'] %>" class="show_stores btn mapprr-btn" style="width: 250px;margin:auto;"><%= image_tag("https://s3.ap-south-1.amazonaws.com/mapprr/locate.png", :alt => "Location icon", :width=> "12px") %> <span style="position: relative; top: 1px;">Find Availability in Stores</span></a>
      </div>
    </div>
    <div class="col-md-4">
      <div id="<%= @product['id'] %>" class="show_stores" style="cursor: pointer; padding-top: 30px;"><%= image_tag  @image_sample, :class => 'img-responsive' %></div>
    </div>
  </div>
</div>
</div>



    <% if @similar_products.present? %>
    <div style="border-bottom: 1px solid #f7f7f7;border-radius: 0px;background-color: #ffffff;">
      <div class="container">
        <h3 style="margin-bottom: 15px; font-size: 21px;">People also search for</h3>
      </div>
    </div>
    <div style="padding-bottom:25px;padding-top:25px;border: 0px;border-radius: 0px;background-color: #ffffff;">   
    <div class="container"> 
        <div class="owl-carousel">
        <% @similar_products.each do |product| %>

                   <div class="relatedCard"  id="<%= product['id'] %>" >
                      <div class="rCard">
                        <div class="text-center">
                            <div class="rShow_div">
                             <!--  <%= image_tag product['image_url'] || 'noProduct.png', :class => 'card-img-top'%> -->
                             <% if product['image_url'].present? %>
                              <%= image_tag product['image_url'], :class => 'card-img-top imageIn'%>
                          <% else %>
                            <% @similar_product_sample_image = ['noProduct2','noProduct2.3','noProduct'].sample + '.png' %>
                              <%= image_tag @similar_product_sample_image, :class => 'card-img-top noImage'%>
                          <% end %>
                            </div>
                            
                        </div>  
                        <div class="pcard-block">
                          <h4 class="pcard-title"><%= product['name'] %></h4>
                          <p class="pcard-text"><%= product['brand'] %></p>
                        </div>
                      </div>
                    </div>



        <% end %>
      </div>
    </div>
      </div>
    <% end %>

    <% end %>



  </div>
</div>

<script type="text/javascript">


$(document).ready(function(){
  // $(".owl-carousel").owlCarousel();

  $('.owl-carousel').owlCarousel({
    loop:true,
    margin: 0,
    navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
    dots: false,
    responsiveClass:true,
    responsive:{
        0: {
            items: 1,
            nav: false,
        },
        320: {
            items: 2,
            nav: true,
        },
        700: {
            items: 4,
            nav: true,
        },
        920: {
            items: 4,
            nav: true,
            margin: 0,
        },
        1000:{
            items:6,
            nav:true,
            loop:false
        }
    }
});

});



  var plocation = window.sessionStorage.getItem("slocation");
    if (plocation == null)
    {
    
        detectLocation();
    }
    else
    {
        $("#geolocation").html(plocation);

    }

  $("#detect_loc").click(function(){
      $('.loader').fadeOut();
          detectLocation();
      $("#m_loc").val(plocation);
    });

  //click a link
  $(".show_stores").click(function(){
     var search = "<%= params[:name].gsub("-", " ").upcase %>";
        window.localStorage.setItem("search_query2", search);
        window.localStorage.setItem("search_query", search);

    var latlong = window.sessionStorage.getItem("latlng");
    var pincode = window.sessionStorage.getItem("pincode");
    var product_id = this.id;
    window.location= "/stores?query=," + product_id + "," + latlong + ",5," + pincode;
  });



    $(".relatedCard").click(function(e){
    var latlong = window.sessionStorage.getItem("latlng");
    var pincode = window.sessionStorage.getItem("pincode");
    var user_id = window.localStorage.getItem("user");

    if(latlong == null)
    {
      // alert("Select your location");
      var x = $("#location_error")
        x.addClass("show")
          .html('Your location could not be determined.');
        setTimeout(function() {
           x.removeClass("show");
       }, 7000);
}
    else
    {
    var id = this.id;
    window.localStorage.setItem("id", id );
    var search_query2 = $("#" + id+ " .pcard-title").text();
    window.localStorage.setItem("search_query2", search_query2 );
    if (user_id == null){
      window.location.href = "/stores?query=," + id + "," + latlong + ",5," + pincode;
   }
    else{
      
      window.location.href = "/stores?query=" + user_id + "," + id + "," + latlong + ",5," + pincode;
     }

  }
  });
</script>
<script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
<script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZUpobR20JfD78lRFdkVU2VV1joDsBVjA&libraries=places&callback=initAutocomplete">
    </script>